{% extends 'base.html' %}
{% from 'host/common.html' import edit_field %}
{% from 'host/common.html' import log_icon %}
{% from 'host/common.html' import trace_icon %}
{% from 'share/select_region_hosts.html' import select_region_hosts %}

{% macro schedule_migrate_gui() %}
    <div class="form-group ">
        <label class="col-sm-4 control-label" id="label_install_action" for="install_action">Install Action</label>

        <div class=col-sm-6>
            <select class="form-control" id="install_action" multiple name="install_action" style="width: 100%">
                <optgroup label="Verification">
                    <option value="{{ install_action.migrationaudit }}">{{ install_action.migrationaudit }}</option>
                </optgroup>
                <optgroup label="Migration">
                    <option value="{{ install_action.premigrate }}">{{ install_action.premigrate }}</option>
                    <option value="{{ install_action.migrate }}">{{ install_action.migrate }}</option>
                    <option value="{{ install_action.postmigrate }}">{{ install_action.postmigrate }}</option>
                    <option value="{{ install_action.allformigrate }}">ALL</option>
                </optgroup>
            </select>

        </div>
    </div>

    <div class="form-group ">
        <label class="col-sm-4 control-label"
               for="{{ form.scheduled_time.name }}">{{ form.scheduled_time.label() }}</label>

        <div class="col-sm-6">
            <div class="input-group date form_datetime">
                <input id="scheduled-time" name="{{ form.scheduled_time.name }}" class="form-control" size="16"
                       type="text" readonly>
                <input id="scheduled-time-UTC" name="{{ form.scheduled_time_UTC.name }}"
                       value="{{ form.scheduled_time_UTC.data }}" class="form-control" type="hidden">
                <span class="input-group-addon DodgerBlue"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <div id="custom-command-profile-panel">
        {{ edit_field(form.custom_command_profile, field_width="col-sm-6", class="form-control") }}
    </div>

    <input id="hidden_region" name="{{ form.hidden_region.name }}" value="{{ form.hidden_region.data }}" type="hidden">
    <input id="hidden_hosts" name="{{ form.hidden_hosts.name }}" value="{{ form.hidden_hosts.data }}" type="hidden">
    <input id="hidden_dependency" name="{{ form.hidden_dependency.name }}" value="{{ form.hidden_dependency.data }}" type="hidden">
    <input id="hidden_server" name="{{ form.hidden_server.name }}" value="{{ form.hidden_server.data }}" type="hidden">
    <input id="hidden_server_name" name="{{ form.hidden_server_name.name }}" value="{{ form.hidden_server_name.data }}"
           type="hidden">
    <input id="hidden_server_directory" name="{{ form.hidden_server_directory.name }}"
           value="{{ form.hidden_server_directory.data }}" type="hidden">
    <input id="hidden_software_packages" name="{{ form.hidden_software_packages.name }}"
           value="{{ form.hidden_software_packages.data }}" type="hidden">

{% endmacro %}


{% block extra_head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Bootstrap Wizard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

    <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
    <script src="/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/static/duallistbox/dist/dual-list-box.js"></script>
    <script src="/static/jquery-cookie-master/jquery.cookie.js"></script>
    <script src="/static/jquery/js/smu_info_dialog.js"></script>
    <script src="/static/jquery-cookie-master/jquery.cookie.js"></script>

    <script src="/static/jquery/js/select_region_hosts.js"></script>
    <script src="/static/jquery/js/auto_select_migration_software.js"></script>
    <script src="/static/jquery/js/server_software_dialog.js"></script>

    <style>
        .modal-dialog {
            width: 850px;
        }

        a:link, a:visited {
            text-decoration: none;
        }
    </style>


    <script type="text/javascript">


        $(function () {

            var submit_spinner = $('#submit-spinner');

            submit_spinner.hide();

            var MIGRATION_AUDIT = "{{ install_action.migrationaudit }}";
            var PRE_MIGRATE = "{{ install_action.premigrate }}";
            var MIGRATE_SYSTEM = "{{ install_action.migrate }}";
            var POST_MIGRATE = "{{ install_action.postmigrate }}";
            var ALL_FOR_MIGRATE = "{{ install_action.allformigrate }}";

            $("#install_action").select2({placeholder: 'Select Desirable Migration Actions'});
            $("#install_action").val("{{ form.install_action.data }}").trigger("change");
            $("#custom_command_profile").select2({
                placeholder: 'Optional'
            });

            server_software_selector.add_init_observer(function(all_available_software){
                var config_selector = $('#config_filename');

                if (config_selector != null) {

                    config_selector.html("");
                    config_selector.append("<option value=\"\" disabled selected style=\"display: none;\">Optional</option>");
                    config_selector.append("<option value=\"\"></option>");
                    $(all_available_software).each(function (i) { //populate child options
                        config_selector.append("<option value=\""+all_available_software[i].id +"\">"+all_available_software[i].name + "</option>");
                    });
                }

                    // In edit mode.
                if ($('#hidden_edit').val() == 'True' && $('#hidden_software_packages').val() != null) {
                    var previously_selected_packages = $('#hidden_software_packages').val().split(',');
                    //console.log("previously_selected_packages = " + String(previously_selected_packages));
                    server_software_selector.select_regex_match(previously_selected_packages);
                }

                if ($('#hidden_edit').val() == 'True' && $('#hidden_config_filename').val() != null) {
                    $('#config_filename').val($('#hidden_config_filename').val());
                    //console.log("config_filename = " + $('#config_filename').val());
                }
            });

            var datetimepicker = $(".form_datetime").datetimepicker({
                format: "mm/dd/yyyy HH:ii P",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                pickerPosition: "top-left",
                todayHighlight: true
            });

            toggle_ui();

            $('#install_action').on('change', function (e) {
                var install_actions = $(this).val();
                if (has_one_of_these(install_actions, [ALL_FOR_MIGRATE])) {
                    $("#install_action").val([PRE_MIGRATE, MIGRATE_SYSTEM, POST_MIGRATE]).trigger('change');
                } else if (has_one_of_these(install_actions, [MIGRATION_AUDIT]) && install_actions.length > 1) {
                    $("#install_action").val([MIGRATION_AUDIT]).trigger('change');
                }
                toggle_ui();
            });

            function toggle_ui() {
                var install_actions = $('#install_action').val();

            }

            server_time_as_locale_time = convertToLocaleString("{{ server_time | datetime_string }}");
            // Convert the UTC time to Locale time
            $('#scheduled-time-UTC').val(function (index, value) {
                if (value == 'None' || value.length == 0) {
                    $('#scheduled-time').val(server_time_as_locale_time);
                } else {
                    $('#scheduled-time').val(convertToLocaleString(value));
                }
            });

            $('[data-toggle="popover_override_hw_req"]').popover({
                trigger : 'click',
                placement : 'left',
                html : true,
                content : function() {
                    return $('#popover_hw_req').html()
                }
            });

            $('[data-toggle="popover_server_repo"]').popover({
                trigger : 'click',
                placement : 'right',
                html : true,
                content : function() {
                    return $('#popover_packages').html()
                }
            });

            $('[data-toggle="popover_config_filename"]').popover({
                trigger : 'click',
                placement : 'top',
                html : true,
                content : function() {
                    return $('#popover_config').html()
                }
            });

            $('#trigger-wizard').click(function (e) {

                var install_actions = $('#install_action').val();

                if ($('#hidden_edit').val() == 'True' && has_one_of_these(install_actions, [MIGRATE_SYSTEM])) {
                    on_submit();

                } else {

                    if (install_actions == null) {
                        bootbox.alert("Install Action has not been specified.");
                        return false;
                    }
                    if (has_one_of_these(install_actions, [PRE_MIGRATE]) && has_one_of_these(install_actions, [POST_MIGRATE]) && has_one_of_these(install_actions, [MIGRATE_SYSTEM]) == false) {
                        bootbox.alert("Migrate must be selected if both Pre-Migrate and Post-Migrate are selected.");
                        return false;
                    }

                    $('#wizard-dialog').modal({show: true, backdrop: 'static'});

                    if ($('#select-host').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#select-host').val(), true);
                    }

                    if ($('#hardware-audit').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#hardware-audit').val(), true);
                    }

                    if ($('#pre-migrate').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#pre-migrate').val(), true);
                    }

                    if ($('#post-migrate').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#post-migrate').val(), true);
                    }

                    if ($('#hidden_edit').val() != 'True') {
                        add_new_tab('select-host', 'Select Host')
                    }

                    if (has_one_of_these(install_actions, [MIGRATION_AUDIT])) {
                        add_new_tab("hardware-audit", "Select Software Version");
                        document.getElementById("wizard-header").innerHTML = "<h3>Migration Audit<br></h3>";
                    } else {
                        document.getElementById("wizard-header").innerHTML = "<h3>Migrate to ASR9K-64<br></h3>";
                    }

                    if (has_one_of_these(install_actions, [PRE_MIGRATE])) {
                        add_new_tab("pre-migrate", "Pre-Migrate");
                    }

                    if (has_one_of_these(install_actions, [POST_MIGRATE])) {
                        add_new_tab("post-migrate", "Post-Migrate")
                    }

                    // make the first tab active
                    //$('#tabs a:first').tab('show');

                    $('#wizard').bootstrapWizard('resetWizard')
                }

            });

            function add_new_tab(new_tab_id, new_tab_name) {
                // create the tab
                $('<li><a href="#' + new_tab_id + '" data-toggle="tab" >' + new_tab_name + '</a></li>').appendTo('#tabs');

            }

            $('#on-submit').click(function (e) {
                //$('#hidden_hardware_audit_version').val($('#hardware_audit_version option:selected').text());
                //console.log('hardware_audit_version');
                //console.log($('#hardware_audit_version option:selected').text());
                //console.log($('#hidden_hardware_audit_version').val());
                //return false;

                if ($('.nav-tabs .active').text() == "Hardware Audit" && validateHardwareAudit() == false) {
                    return false;
                }
                if ($('.nav-tabs .active').text() == "Select Host" && validateSelectHost() == false) {
                    return false;
                }
                if ($('.nav-tabs .active').text() == "Pre-Migrate" && validateSelectPackages() == false) {
                    return false;
                }

                if (has_one_of_these($('#install_action').val(), [POST_MIGRATE])) {
                    if (!$('[name="config-handling"]')[0].checked && !$('[name="config-handling"]')[1].checked) {
                        bootbox.alert("Please select one option.");
                        return false;
                    }
                }

                on_submit();

            });

            function on_submit() {
                $('#scheduled-time-UTC').val(convertToUTCString($('#scheduled-time').val()));

                $('#hidden_hardware_audit_version').val($('#hardware_audit_version option:selected').val());

                $('#hidden_region').val($('#region').val());
                $('#hidden_hosts').val(String(host_selector.get_selected_items()));
                $('#hidden_software_packages').val(String(server_software_selector.get_selected_items()));
                // Record the newly selected server repository
                $('#hidden_server').val($('#server_dialog_server').val());
                $('#hidden_server_name').val($('#server_dialog_server option:selected').text());
                $('#hidden_server_directory').val($('#server_dialog_server_directory').val());
                $('#hidden_config_filename').val($('#config_filename').val());

                if ($('[name="config-handling"]')[0].checked) {
                    $('#hidden_best_effort_config').val($('[name="config-handling"]')[0].value);
                } else {
                    $('#hidden_best_effort_config').val($('[name="config-handling"]')[1].value);
                }

                if ($('[name="override_hw_req"]')[0].checked) {
                    $('#hidden_override_hw_req').val($('[name="override_hw_req"]')[0].value);
                } else {
                    $('#hidden_override_hw_req').val($('[name="override_hw_req"]')[1].value);
                }

                var install_actions = $('#install_action').val();

                if ($('#hidden_edit').val() == 'False') {
                    if (has_one_of_these(install_actions, [MIGRATION_AUDIT]) || has_one_of_these(install_actions, [PRE_MIGRATE])) {
                      get_qualified_hosts_and_submit_form('');
                    } else {
                        if (has_one_of_these(install_actions, [MIGRATE_SYSTEM])) {
                            get_qualified_hosts_and_submit_form(PRE_MIGRATE);

                        } else {
                            get_qualified_hosts_and_submit_form(MIGRATE_SYSTEM);
                        }
                    }
                } else {
                    submit_form_on_successfully_download_config_conversion_tool();
                }


            }

            $('#form').submit(function () {

                //$('#form').submit();
                this.submit();
                //on_final_submit(this, null);

                // prevent the form from closing
                return false;
            });

            function submit_form_on_successfully_download_config_conversion_tool() {

                submit_spinner.show();

                $.ajax({
                    url: "/exr_migrate/api/get_latest_config_migration_tool/",
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 'Failed') {
                            bootbox.alert("Failed to download the latest configuration migration tool from CCO to CSM. Migration actions cannot be scheduled.");
                        } else {
                            $.each(response, function (index, element) {
                                if (element[0].error == 'None') {
                                    $('#form').submit();
                                } else {
                                    bootbox.alert("Error occurred when downloading the latest configuration migration tool. Error: " + element[0].error);
                                }
                            });


                        }
                        submit_spinner.hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert("Unable to download the latest configuration migration tool from CCO to CSM. Error=" + errorThrown);
                        submit_spinner.hide();
                    }
                });
            }

            function get_qualified_hosts_and_submit_form(dependency) {

                submit_spinner.show();

                $.ajax({
                    url: "/exr_migrate/api/get_dependencies/",
                    dataType: 'json',
                    data: {hosts : $('#hidden_hosts').val(), dependency : dependency},
                    success: function (response) {

                            $.each(response, function (index, element) {

                                var hostnames = host_selector.get_selected_items();

                                if (element[0].disqualified_count > 0) {

                                    var qualified_hosts = "";
                                    var new_dependency_list = "";
                                    if (dependency == '') {
                                         var html = '<p>In order to schedule migration actions, console connection ' +
                                                    'must be provided for each host instead of management IP.</p>';
                                         if (element[0].disqualified_count == hostnames.length) {
                                             html += 'None of the selected hosts meet this requirement.'
                                         } else {
                                             html += 'These hosts below failed this requirement.'
                                         }
                                    } else {
                                        var html = '<p>Requirements:</p>' +
                                               '<p>1. Console connection must be provided for each host instead ' +
                                               'of management IP.</p><p>2. Dependency for selected migration action ' +
                                               'must be met. ';

                                        if (dependency == PRE_MIGRATE) {
                                            html += 'In this case, to schedule Migrate for a host, '
                                        } else if (dependency == MIGRATE_SYSTEM) {
                                            html += 'In this case, to schedule Post-Migrate for a host, '
                                        }
                                        html += dependency + " must either be scheduled" +
                                                ' or already completed successfully for the host.</p>';
                                        if (element[0].disqualified_count == hostnames.length) {
                                            html += 'None of the selected hosts meet both of the above requirements.'
                                        } else {
                                            html += 'These hosts below failed at least one of the above requirements.'
                                        }
                                    }


                                    html += '<h4>Dis-qualified Hosts</h4>' +
                                           '<div style="overflow: auto;height: 200px;width: 100%;">' +
                                           '<table class="table table-striped"><tbody>';

                                    for (var i = 0, len = hostnames.length; i < len; ++i) {
                                        if (element[0].dependency_list[i] != null) {
                                            if (element[0].dependency_list[i] == '-2') {
                                                html += '<tr><td>' + hostnames[i] + '</td></tr>';
                                            } else if (element[0].disqualified_count < hostnames.length) {
                                                qualified_hosts += hostnames[i] + ',';
                                                new_dependency_list += element[0].dependency_list[i] + ',';
                                            }
                                        }


                                    }
                                    html += '</tbody></table></div>';

                                    if (element[0].disqualified_count == hostnames.length) {
                                        if (dependency == '') {
                                            html += '<br>Please make sure to provide console connection for all hosts';
                                        } else {
                                            html += '<br><p>Please make sure to:</p><p>1. Provide console connection ' +
                                                'for all hosts</p><p>2. Schedule ' + dependency + ' for all selected ' +
                                                'hosts.</p>';
                                        }
                                        bootbox.alert({
                                            message: html,
                                            title: "No selected hosts qualify for scheduling"
                                        });
                                    } else {
                                        qualified_hosts = qualified_hosts.slice(0, -1);
                                        new_dependency_list = new_dependency_list.slice(0, -1);

                                        html += '<br>You can choose to schedule for the qualified hosts only, or click cancel.';
                                        bootbox.dialog({
                                            message: html,
                                            title: String(element[0].disqualified_count) + " out of " + String(hostnames.length) + " selected hosts disqualified for scheduling",
                                            onEscape: function() {},
                                            show: true,
                                            backdrop: true,
                                            closeButton: true,
                                            animate: true,
                                            className: "my-modal",
                                            callback: function(){ /* your callback code */ },
                                            buttons: {
                                                success: {
                                                  label: "Only schedule for qualified hosts",
                                                  className: "btn-primary",
                                                  callback: function() {
                                                      $('#hidden_hosts').val(qualified_hosts);
                                                      $('#hidden_dependency').val(new_dependency_list);
                                                      submit_form_on_successfully_download_config_conversion_tool();
                                                  }

                                                },
                                                "Cancel": {
                                                  className: "btn-default",
                                                  callback: function() {}

                                                }
                                            }
                                        });
                                    }

                                } else {
                                    $('#hidden_dependency').val(element[0].dependency_list.join());
                                    submit_form_on_successfully_download_config_conversion_tool();
                                }
                            });
                        submit_spinner.hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert("Unable to download the latest configuration migration tool from CCO to CSM. Error=" + errorThrown);
                        submit_spinner.hide();
                    }
                });
            }


            // In edit mode.
            if ($('#hidden_edit').val() == 'True') {
                $("#install_action").prop("disabled", true);

                $('#region').val($('#hidden_region').val());
                $('#hardware_audit_version').val($('#hidden_hardware_audit_version').val());

                $('#server_dialog_server').val($('#hidden_server').val());

                if (has_one_of_these($("#install_action").val(), [PRE_MIGRATE])) {
                    // previously selected server, server directory, packages and config filename
                    // will be loaded in this method
                    server_software_retrieve_file_list(
                            $('#server_dialog_server').val(),
                            $('#server_dialog_server_directory'),
                            $('#hidden_server_directory').val());
                }

                if ($('#hidden_best_effort_config').val() == '-1') {
                    $('[name="config-handling"]')[0].checked = true;
                } else if ($('#hidden_best_effort_config').val() == '1') {
                    $('[name="config-handling"]')[1].checked = true;
                }

                if ($('#hidden_override_hw_req').val() == '1') {
                    $('[name="override_hw_req"]')[0].checked = true;
                } else if ($('#hidden_override_hw_req').val() == '0') {
                    $('[name="override_hw_req"]')[1].checked = true;
                }

            } else {
                $("#install_action").prop("disabled", false);
            }
        })

    </script>

  <!--   plugins 	 -->

    <script src="/static/x-wizard-1.1/assets/js/wizard.js" type="text/javascript"></script>

{% endblock extra_head %}


{% block main %}
    <div>
        <form id="form" method="post" class="form-horizontal">
            <div class="row">
                <div class="well col-sm-offset-2 col-sm-8">

                    <legend>
                      {% if host == null %}
                          <h4>Schedule Migration</h4>
                      {% else %}
                          <h4>Schedule Migration > Region: <span style="color: Gray;">{{ host.region.name }}</span> >
                              Host: <span
                                      style="color: Gray;">{{ host.hostname }} ({{ host.software_platform | beautify_platform }}-{{ host.software_version }})</span>
                          </h4>
                      {% endif %}
                    </legend>

                  {% if install_job != null and install_job.status == 'failed' %}
                      <div class="alert alert-danger">
                          <strong>NOTE:&nbsp;</strong>
                          This scheduled install failed on <span
                              class="UTCDate">{{ install_job.status_time | datetime_string }}</span>

                        {% if install_job.session_log %}
                            <a href="{{ url_for('host_session_log', hostname=host.hostname, table='install_job', id=install_job.id) }}?file_path={{ install_job.session_log }}">{{ log_icon('Session Log') }}</a>
                        {% endif %}
                        {% if install_job.trace %}
                            <a href="{{ url_for('host_trace', hostname=host.hostname, table='install_job', id=install_job.id) }}">{{ trace_icon() }}</a>
                        {% endif %}
                      </div>
                  {% endif %}

                  {{ schedule_migrate_gui() }}

                    <input id="hidden_edit" name="{{ form.hidden_edit.name }}" value="{{ form.hidden_edit.data }}"
                           class="form-control" type="hidden">
                    <input id="hidden_best_effort_config" name="{{ form.hidden_best_effort_config.name }}"
                           value="{{ form.hidden_best_effort_config.data }}" class="form-control" type="hidden">
                    <input id="hidden_override_hw_req" name="{{ form.hidden_override_hw_req.name }}"
                           value="{{ form.hidden_override_hw_req.data }}" class="form-control" type="hidden">
                    <input id="hidden_config_filename" name="{{ form.hidden_config_filename.name }}"
                           value="{{ form.hidden_config_filename.data }}" class="form-control" type="hidden">
                    <input id="hidden_hardware_audit_version" name="{{ form.hidden_hardware_audit_version.name }}"
                           value="{{ form.hidden_hardware_audit_version.data }}" class="form-control" type="hidden">


                    <div class="btn col-sm-offset-5">

                      {% if install_job != null and install_job.install_action == 'Migrate' %}
                          <button type="button" id="trigger-wizard" class="btn btn-primary">
                          Re-Submit
                      {% else %}
                          <button type="button" id="trigger-wizard" class="btn btn-primary" data-toggle="modal"
                                  data-target="#wizard-dialog">
                          Continue
                      {% endif %}
                        </button>
                        <button type="button" onClick="history.back(1);" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>


            <div id="wizard-dialog" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                            <div class="modal-body">
                                <!--      Wizard container        -->
                                <button type="button" class="close" data-dismiss="modal">x</button>
                                    <div class="card wizard-card csm-blue" id="wizard">
                                        <form method="post" class="form-horizontal">
                                        <div class="form-horizontal">
                                        <!--        You can switch "ct-wizard-orange"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"             -->

                                        <div class="wizard-header" id="wizard-header">


                                        </div>
                                        <ul id="tabs" class="nav nav-tabs" role="tablist">

                                        </ul>
                                        <div class="tab-content">

                                            <div class="tab-pane" id="select-host">
                                                {{ select_region_hosts(form.region, form.role, form.software) }}
                                            </div>

                                            <div class="tab-pane" id="pre-migrate">
                                                {% include("exr_migrate/select_server_repository.html") %}
                                                {% include("exr_migrate/override_hardware_requirement.html") %}
                                            </div>

                                            <div class="tab-pane" id="hardware-audit">
                                              <h4 class="info-text-left">Select the version of ASR9K-64 you plan to migrate to: <span id="server-dialog-title"></span>
                                              &nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign" style="color:dodgerblue" aria-hidden="true" data-toggle="popover_override_hw_req"></span></h4>
                                                {{ edit_field(form.hardware_audit_version, field_width="col-sm-7", class="form-control") }}
                                            </div>

                                            <div class="tab-pane" id="post-migrate">
                                                <!--h4>On failure to load IOS-XR configuration on eXR successfully,
                                                    would you like CSM to:</h4-->
                                                <h4 class="info-text-left">When the IOS-XR configurations, either migrated by CSM or provided by you during Pre-Migrate,
                                                    cannot be applied on eXR directly, would you like CSM to:</h4>
                                                <div class="btn-group">
                                                    <div>
                                                        <input type="radio" id="config-handling" name="config-handling"
                                                               class="toggle" value="-1"
                                                               style="margin-right: 10px"><label for="config-handling">Abort
                                                        the configuration commit</label>

                                                    </div>

                                                    <div>
                                                        <input type="radio" id="config-handling" name="config-handling"
                                                               class="toggle" value="1"
                                                               style="margin-right: 10px"><label for="config-handling">Commit
                                                        the configurations with best effort</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="wizard-footer">
                                            <div class="pull-right">

                                                <input type='button' id="on-continue" class='btn btn-primary btn-next'
                                                       name='next' value='Next'/>

                                                <div class="form-actions">
                                                    <button id="on-submit" type="button"
                                                            class="btn btn-primary btn-finish" name='finish'
                                                            value='Schedule'>
                                                      {% if install_job != null and install_job.status == 'failed' %}
                                                          Re-Submit
                                                      {% else %}
                                                          Schedule
                                                      {% endif %}
                                                    </button>
                                                    <!--input type='submit' form="form" id="on-submit" class='btn btn-finish btn-fill btn-warning btn-wd btn-md' name='finish' value='Schedule' data-dismiss="modal" / -->
                                                </div>
                                            </div>
                                            <div class="pull-left">
                                                <input type='button' class='btn btn-default btn-previous'
                                                       name='previous' value='Previous'/>
                                                <!--input type='button' class='btn btn-default btn-cancel' name='cancel'
                                                       value='Cancel' data-dismiss="modal"-->
                                            </div>
                                            <span class="submit-spinner">
                                                <center><img id="submit-spinner" src="{{ url_for('static', filename='spinner.gif') }}"></center>
                                            </span>

                                            <div class="clearfix"></div>
                                        </div>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- wizard container -->

                            </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock main %}
