{% extends 'base_software.html' %}

{% from 'host/common.html' import edit_field %}
{% from 'host/common.html' import alert_duplicate %}

{% if request.endpoint.endswith('edit') %}
    {% set isEdit = True %}
{% else %}
    {% set isEdit = False %}
{% endif %}

{% block head %}

<script>
    $(function() {
        var spinner = $('#spinner');
        spinner.hide();

        $('#command_list').attr("wrap", "off");

        $('#form').submit(function() {
            var current_form = this;
            var profile_name = $('#profile_name').val();
            var acceptable_string = get_acceptable_string(profile_name.trim());
            $('#command_list').val(trim_lines($('#command_list').val()));

            if (acceptable_string != profile_name) {
                var message = get_acceptable_string_message('Profile name', profile_name, acceptable_string);
                bootbox.confirm(message, function(result) {
                    if (result) {
                        $('#profile_name').val(acceptable_string);
                    }
                });
            } else {
                return true;
            }

            return false;
        });
    });
</script>
  
<style>
    .modal-dialog {    
        width: 850px;
    }
    a:link, a:visited {
        text-decoration:none;
    }
    th,
    td {
        white-space: nowrap;
    }
</style>
  
{% endblock %}

{% block main %}

<div class="row">
    <div class="well col-sm-offset-2 col-sm-8">
        <form id="form" method=post class="form-horizontal">
            <legend>{% if isEdit %}Edit Command Profile{% else %}Create Command Profile{% endif %}</legend>
            
            {{ alert_duplicate(form.profile_name.data, duplicate_error) }}
            {{ edit_field(form.profile_name, class="form-control") }}
            {{ edit_field(form.command_list, class="form-control", spellcheck="false", rows="10") }}
            
            <div class="form-actions">
                <div class="btn col-sm-offset-5">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" onClick="location.href='{{ url_for('custom_command.home') }}'" class="btn btn-default">Cancel</button>
                    <img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
