{% extends 'base.html' %}
{% from 'host/common.html' import edit_field %}

{% block extra_head %}
  
<script charset="utf-8">

    $(function() {

        var msg = $('#import-form').data("msg");
        if( msg != '' ){
            bootbox.alert(msg);
        }

        $('a[href="#profiles-tab"]').tab('show');

        var profile_id = $.cookie('profile-id');

        // Use delegate pattern for event
        $("#profile-table").on("click", ".data-delete-link", function() {
            var delete_url = $(this).attr('data-delete-url');
            var profile_name = $(this).attr('data-delete-profile-name');

            bootbox.confirm("You are about to delete custom command profile \'" + profile_name + "\'.  OK to proceed?", function(result) {
                if (result) {
                    $.ajax({
                        url: delete_url,
                        type: 'DELETE',
                        success: function(result) {
                            if (result.status == 'OK') {
                                profile_table.api().ajax.reload();
                            } else {
                                bootbox.alert('Delete failed.');
                            }
                        }
                    });
                }
            });
        });
        var profile_table = $("#profile-table").dataTable({
            "order": [
                [0, "asc"]
            ],
            "columnDefs": [{
                "targets": 0,
                "data": 'profile_name',
                "render": function(data, type, row) {
                    return '<a href="/custom_command_profiles/command_profile/' + data + '/edit">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'command_list',
                "render": function(data, type, row) {
                    return insert_slider(comma2br(data), row['id']);
                }
            },{
                "targets": 2,
                "data": 'created_by',
            }, {
                "targets": 3,
                "data": 'profile_name',
                "render": function(data, type, row) {
                    return '<a class="data-delete-link" href="javascript://"  \
                data-delete-profile-name="' + data + '" \
                data-delete-url="/custom_command_profiles/command_profile/' + data + '/delete">Delete</a>';
                }
            }],
            "ajax": {
                "url": "{{ url_for('custom_command.api_get_command_profiles') }}",
            }
        });

        function insert_slider(command_list, id) {
            if (command_list != null && command_list.length > 0) {
                var html = '<a href="javascript://" data-toggle="collapse" data-target="#toggle' + id + '">' +
                    '<center><img src=\"{{ url_for('static', filename='file_open.png') }}\"></center>' +
                    '</a>' +
                    '<!-- Collapsible Element HTML -->' +
                    '<div id="toggle' + id + '" class="collapse">' +
                    '<div style="white-space: nowrap;">' +command_list.replace(/,/g, "<br/>") +
                    '</div>' +
                    '</div>';
                return html;
            } else {
                return '&nbsp;';
            }
        }

        var export_profiles_table = $('#export-profiles-datatable').dataTable({
            "pageLength": 100,
            "scrollY": 250,
            "columnDefs": [{
                "sortable": false,
                "targets": 0,
                "data": 'profile_name',
                "render": function ( data, type, row ) {
                    return '<center><input type="checkbox" value="' + data + '" class="check" name="profile_names"></center>';
                }
            }, {
                "targets": 1,
                "data" : 'profile_name'
            } ]
        });

        $('#export-profiles-check-all').click(function () {
            toggle_check_all(export_profiles_table, this);
        });

        function toggle_check_all(data_table, this_instance) {
            var filtered_rows = data_table.$('tr', {"filter": "applied"});
            for (var i = 0; i < filtered_rows.length; i++) {
              $(filtered_rows[i]).find('.check').prop('checked', this_instance.checked);
            }
        }

        $('#export-button').on("click", function(){
            export_profiles_table.api().ajax.url("/custom_command_profiles/api/get_command_profiles").load();
            $('#export-profiles-dialog').modal({show:true, backdrop:'static'});
        });

        $('#export-profiles-done').on('click', function(e) {
            var profiles_list = [];
            $('.check').each(function(index) {
                if (this.checked) {
                    profiles_list.push($(this).val());
                }
            });
            if (profiles_list == []) {
                return false;
            }

            $('#export-profiles-form').attr('action', "{{ url_for('custom_command.export_profiles') }}?profiles_list[]=" + profiles_list);
            $('#export-profiles-form').submit();
        });

        $("#import-button").on("click", function() {
            $('#profile-import-dialog').modal({show:true, backdrop:'static'});
        });

        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if( input.length ) {
                input.val(log);
            }
        });

    });
</script>

<style>
    .modal-dialog {    
        width: 850px;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>

{% endblock extra_head %}  
  
{% block main %}
<!-- Main -->
<div id="export-profiles-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form id="export-profiles-form" name="export-profiles-form" method="post" action="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>Export Custom Command Profiles</h4>
                </div>
                <div class="modal-body">
                    <table id="export-profiles-datatable">
                        <thead>
                        <tr>
                            <th>
                                <center><input type="checkbox" id="export-profiles-check-all"></center>
                            </th>
                            <th>Profile Name</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="wizard-footer">
                        <div align="center">
                            <input id='export-profiles-done' data-dismiss="modal" type='submit' class='btn btn-fill btn-primary btn-wd btn-sm' name='profile-export-done' value='Export' />
                            <input type="button" id="cancel" class="btn btn-fill btn-wd btn-sm" data-dismiss="modal" value="Cancel" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="profile-import-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form id="import-form" method="post" class="form-horizontal" enctype="multipart/form-data" data-msg="{{ get_flashed_messages(category_filter=['import_feedback'])[0] | nl2br }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>Import Custom Command Profiles</h4>
                    The file to be imported must have been exported previously using the Custom Command Profile Export function.
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Choose File<input class="form-control" type=file name=file>
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <input class="btn btn-primary form-control" type=submit value=Import>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" id="command-profile-tab">
                <li><a data-toggle="tab" href="#profiles-tab">Custom Command Profiles</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Create <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="main-tab" href="{{ url_for('custom_command.command_profile_create') }}">Custom Command Profile</a></li>
                    </ul>
                </li>
                <div class="btn-group pull-right">
                    <button id="import-button" type="button" class="btn btn-default">Import</button>
                    <button id="export-button" type="button" class="btn btn-default">Export</button>
                </div>
            </ul>
            <div class="tab-content" style="margin-top:10px;">
                <div id="profiles-tab" class="tab-pane fade in active">
                    <table class="display table" id="profile-table">
                        <thead>
                            <tr>
                                <th>Profile Name</th>
                                <th>CLI Commands</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}