{% extends 'base_inventory.html' %}
{% from 'host/common.html' import edit_field %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/jquery/css/inventory.css">
    <script>

    $(function () {
        var table_finished_drawing = 0;
        var search_clicked = false;
        var search_spinner = $('#search_spinner');
        var no_inventory_match = $('#no-inventory');
        search_spinner.css("visibility", "hidden");

        no_inventory_match.hide();

        function convert_array_to_string(array) {
            if (array) {
                return array.toString()
            }
            return ''
        }

        var available_inventory_table = $("#available-inventory-datatable").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{ url_for('datatable.api_search_inventory') }}",
                "data": function (d) {
                    d.available = true;
                    d.serial_number = $('#serial_number').val();
                    d.region_ids = convert_array_to_string($('#region-selector').val());
                    d.chassis_types = convert_array_to_string($('#chassis-selector').val());
                    d.software_versions = convert_array_to_string($('#software-selector').val());
                    if ($('#model-name-selector').prop('disabled')) {
                        d.partial_model_names = $('#partial_model_names').val();
                    } else {
                        d.model_names = convert_array_to_string($('#model-name-selector').val());
                    }
                    console.log(d)
                }
            },
            "columns": [
                { "data": "model_name" },
                { "data": "serial_number" },
                { "data": "description" },
                { "data": "notes"}
            ],
            "order": [
                [0, "asc"]
            ],
            "pageLength": 100,
            "columnDefs": [{
                "targets": 0,
                "data": 'model_name'
            }, {
                "targets": 1,
                "data": 'serial_number'
            }, {
                "targets": 2,
                "data": 'description'
            }, {
                "targets": 3,
                "data": 'notes'
            }]
        }).on('draw.dt', function(e, settings, json) {
            if (available_inventory_table.page.info().recordsTotal > 0) {

                if ($('li#available').length == 0) {
                    $('<li id="available"><a data-toggle="tab" href="#available-inventory">Available &nbsp;<span id="badge-available" class="customized-badge-height badge alert-info">0</span></a></li>').appendTo('#search-inventory-tabs');
                }
                $('#badge-available').html(available_inventory_table.page.info().recordsTotal);

            }
            if (search_clicked) {
                post_handling_after_drawing_table();
            }
        });

        var in_use_inventory_table = $("#in-use-inventory-datatable").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{ url_for('datatable.api_search_inventory') }}",
                "data": function (d) {
                    d.available = false;
                    d.serial_number = $('#serial_number').val();
                    d.region_ids = convert_array_to_string($('#region-selector').val());
                    d.chassis_types = convert_array_to_string($('#chassis-selector').val());
                    d.software_versions = convert_array_to_string($('#software-selector').val());
                    if ($('#model-name-selector').prop('disabled')) {
                        d.partial_model_names = $('#partial_model_names').val();
                    } else {
                        d.model_names = convert_array_to_string($('#model-name-selector').val());
                    }
                    console.log(d)
                }
            },
            "columns": [
                { "data": "model_name" },
                { "data": "name" },
                { "data": "serial_number" },
                { "data": "description" },
                { "data": "hostname" },
                { "data": "chassis" },
                { "data": "platform" },
                { "data": "software" },
                { "data": "region" },
                { "data": "location" },
                { "data": "last_successful_retrieval", "orderable": false }
            ],
            "order": [
                [4, "asc"]
            ],
            "pageLength": 100,
            "columnDefs": [{
                "targets": 0,
                "data": 'model_name'
            }, {
                "targets": 1,
                "data": 'name'
            }, {
                "targets": 2,
                "data": 'serial_number'
            }, {
                "targets": 3,
                "data": 'description'
            }, {
                "targets": 4,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a target="_blank" href="/hosts/' + row['hostname'] + '/host_dashboard/">' + row['hostname'] + '</a>';
                }
            },  {
                "targets": 5,
                "data": 'chassis'
            }, {
                "targets": 6,
                "data": 'platform'
            }, {
                "targets": 7,
                "data": 'software'
            }, {
                "targets": 8,
                "data": 'region'
            }, {
                "targets": 9,
                "data": 'location'
            }, {
                "targets": 10,
                "data": 'last_successful_retrieval',
                "render": function(data, type, row) {
                    if (row['inventory_status'] == 'failed') {
                        return '<span style="color:red;">' + data + '</span>';
                    } else {
                        return data;
                    }
                }
            }]
        }).on('draw.dt', function(e, settings, json) {
            if (in_use_inventory_table.page.info().recordsTotal > 0) {
                if ($('li#in-use').length == 0) {
                    $('#search-inventory-tabs').prepend('<li id="in-use"><a data-toggle="tab" href="#in-use-inventory">In Use &nbsp;<span id="badge-in-use" class="customized-badge-height badge alert-info">0</span></a></li>');
                }
                $('#badge-in-use').html(in_use_inventory_table.page.info().recordsTotal);
            }
            if (search_clicked) {
                post_handling_after_drawing_table();
            }
        });
        $('#search').on('click', function(e) {
            search_spinner.css("visibility", "visible");
            $('#search-inventory-tabs').empty();
            $('#tables').hide();
            search_clicked = true;
            in_use_inventory_table.ajax.reload();
            available_inventory_table.ajax.reload();
        });

        function post_handling_after_drawing_table() {
            table_finished_drawing++;
            if(table_finished_drawing == 2) {
                search_spinner.css("visibility", "hidden");
                $('#in-use-inventory-datatable').wrap("<div class='scrollableTable'></div>");
                $('#available-inventory-datatable').wrap("<div class='scrollableTable'></div>");

                if (in_use_inventory_table.page.info().recordsTotal == 0) {
                    if (available_inventory_table.page.info().recordsTotal > 0) {
                        $('a[href=#available-inventory]').tab('show');
                        no_inventory_match.hide();
                        $('#tables').show();
                    } else {
                        no_inventory_match.show();
                    }
                } else {
                    $('a[href=#in-use-inventory]').tab('show');
                    no_inventory_match.hide();
                    $('#tables').show();
                }

                $('#search-inventory-result').show();
                table_finished_drawing = 0;
            }
        }


        $('#region-selector').select2({
            placeholder: "Optional",
            allowClear: true,
            ajax: {
                url: "/api/get_regions/",
                dataType: 'json',
                processResults: function(data, page) {
                    return {
                        results: data.data
                    };
                },
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                }
            }
        });
        $('#chassis-selector').select2({
            placeholder: "Optional",
            allowClear: true,
            ajax: {
                url: "/inventory/api/get_chassis_types/",
                dataType: 'json',
                processResults: function(data, page) {
                    return {
                        results: data.data
                    };
                },
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                }
            }
        });
        $('#software-selector').select2({
            placeholder: "Optional",
            allowClear: true,
            ajax: {
                url: "/inventory/api/get_software_versions/",
                dataType: 'json',
                processResults: function(data, page) {
                    return {
                        results: data.data
                    };
                },
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                }
            }
        });
        $('#model-name-selector').select2({
            placeholder: "Optional",
            allowClear: true,
            ajax: {
                url: "/inventory/api/get_model_names/",
                dataType: 'json',
                processResults: function(data, page) {
                    return {
                        results: data.data
                    };
                },
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                }
            }
        });

        $('#model-name-selector').on("change", function (e) {
            if ($('#model-name-selector').val()) {
                $('#partial_model_names').prop('disabled', true);
            } else {
                $('#partial_model_names').prop('disabled', false);
            }
        });

        $('#partial_model_names').on("input", function (e) {
            if ($('#partial_model_names').val() != '') {
                $('#model-name-selector').prop('disabled', true);
            } else {
                $('#model-name-selector').prop('disabled', false);
            }
        });

        $('#export').click(function() {
            $('#export-inventory-information-dialog').modal('show');
        });

        $('#on-export-inventory-submit').click(function() {
            $('#hidden_serial_number').val($('#serial_number').val());
            $('#hidden_region_ids').val($('#region-selector').val());
            $('#hidden_chassis_types').val($('#chassis-selector').val());
            $('#hidden_software_versions').val($('#software-selector').val());

            if ($('#model-name-selector').prop('disabled')) {
                $('#hidden_model_names').val('');
                $('#hidden_partial_model_names').val($('#partial_model_names').val());
            } else if ($('#partial_model_names').prop('disabled')) {
                $('#hidden_model_names').val($('#model-name-selector').val());
                $('#hidden_partial_model_names').val('');
            } else {
                $('#hidden_model_names').val('');
                $('#hidden_partial_model_names').val('');
            }

            $('#export-inventory-information-form').attr('action', "{{ url_for('inventory.export_inventory_information') }}");
            $('#export-inventory-information-form').submit();
        });

    })

    </script>
{% endblock %}

{% macro custom_edit_field(field, field_width="col-sm-4", label_field_width="col-sm-2", catch_kwargs=true, extra_field="None") %}
    <label class="{{ label_field_width }} control-label" id="label_{{ field.id }}">{{ field.label.text }}</label>
    <div class="{{ field_width }}">
        {{ field(class="form-control", style="border: 1px solid #aaa;", **kwargs) }}
    </div>
{% endmacro %}

{% macro selector_row(label, field) %}
    <div class="row custom-margin">
        <label class="col-sm-2 control-label" id="label_{{ field }}">{{ label }}</label>
        <div class="col-sm-4">
            <select multiple="multiple" class="form-control" id="{{ field }}-selector"></select>
        </div>
    </div>
{% endmacro %}

{% block main %}

<div id="export-inventory-information-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" id="export-inventory-information-form" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>
                        <center>Export Inventory Search Results</center>
                    </h4>
                </div>
                <div class="modal-body">
                    {{ edit_field(export_results_form.export_format, field_width="col-sm-6", class="form-control") }}
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-export-inventory-submit" type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
                <input id="hidden_serial_number" name="{{ export_results_form.hidden_serial_number.name }}" value="{{ export_results_form.hidden_serial_number.data }}" type="hidden">
                <input id="hidden_region_ids" name="{{ export_results_form.hidden_region_ids.name }}" value="{{ export_results_form.hidden_region_ids.data }}" type="hidden">
                <input id="hidden_chassis_types" name="{{ export_results_form.hidden_chassis_types.name }}" value="{{ export_results_form.hidden_chassis_types.data }}" type="hidden">
                <input id="hidden_software_versions" name="{{ export_results_form.hidden_software_versions.name }}" value="{{ export_results_form.hidden_software_versions.data }}" type="hidden">
                <input id="hidden_model_names" name="{{ export_results_form.hidden_model_names.name }}" value="{{ export_results_form.hidden_model_names.data }}" type="hidden">
                <input id="hidden_partial_model_names" name="{{ export_results_form.hidden_partial_model_names.name }}" value="{{ export_results_form.hidden_partial_model_names.data }}" type="hidden">
            </div>
        </form>
    </div>
</div>

<div class="form-horizontal form-group row">
    <div class="container">
        <h4>Search Inventory:</h4>
        <hr style="margin-top:10px;margin-bottom:30px;">
        <div class="row custom-margin">
            {{ custom_edit_field(search_inventory_form.serial_number, placeholder="Optional") }}
        </div>
        {{ selector_row("Region", "region") }}
        {{ selector_row("Chassis", "chassis") }}
        {{ selector_row("Software", "software") }}

        <div class="row custom-margin">
            <label class="col-sm-2 control-label" id="label_model_name">Model Name (PID)</label>

            <div id="model-name-selector-div" class="col-sm-4">
                <select multiple="multiple" class="form-control" id="model-name-selector"></select>
            </div>

        </div>
        <div class="row custom-margin">
            <label class="col-sm-2 control-label" id="label_model_name" style="margin-left: 50px;">OR</label>
            {{ search_inventory_form.partial_model_names(class="form-control", placeholder="Enter Comma-delimited Partial or Full PID(s)", style="width: 28.2%;display:inline;border: 1px solid #aaa;") }}

            <span id="search_spinner" style="margin-left:10%; display:inline-block;">
                <img src="{{ url_for('static', filename='spinner.gif') }}">
            </span>
            <button id="search" type="button" class="btn btn-primary">
                Search
            </button>
            <button type="button" id="export" class="btn btn-primary">
                Export
            </button>

        </div>


        <div id="search-inventory-result" style="display:none;">
            <br>
            <br>
            <h4>Results:</h4>
            <hr style="margin-top:10px;margin-bottom:30px;">
            <div id="no-inventory"><h4>No inventory matches the search criteria.</h4></div>
            <div id="tables" class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" id="search-inventory-tabs">
                    </ul>
                    <div class="tab-content" style="margin-top:20px;">
                        <div id="available-inventory" class="tab-pane fade in active">
                            <table class="display table" id="available-inventory-datatable">
                                <thead>
                                    <tr>
                                        <th>Model Name</th>
                                        <th>Serial Number</th>
                                        <th>Description</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="in-use-inventory" class="tab-pane fade">
                            <table class="display table" id="in-use-inventory-datatable">
                                <thead>
                                    <tr>
                                        <th>Model Name</th>
                                        <th>Name</th>
                                        <th>Serial Number</th>
                                        <th>Description</th>
                                        <th>Hostname</th>
                                        <th>Chassis</th>
                                        <th>Platform</th>
                                        <th>Software</th>
                                        <th>Region</th>
                                        <th>Location</th>
                                        <th>Last Successful Retrieval</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}