{% extends 'base_software.html' %}

{% from 'host/common.html' import edit_field %}
{% from 'share/server_software_dialog.html' import server_software_dialog %}
{% from 'share/cisco_software_dialog.html' import cisco_software_dialog %}

{% block head %}
<script src="/static/jquery/js/smu_info_dialog.js"></script>
<script src="/static/jquery/js/cisco_software_dialog.js"></script>
<script src="/static/jquery/js/server_software_dialog.js"></script>
   
<script charset="utf-8">
    $(function() {
    
        var spinner = $('#spinner');
        spinner.hide();

        $('#optimize-software').on("click", function() {
            if ($('#software_packages').val().length == 0) {
                bootbox.alert("No software packages was specified.");
                return;
            }
            optimize_software($('#software_packages'), $('#optimize_results'), spinner);
        });

        $('#browse-server-button').on('click', function(e) {
            display_server_software_dialog(new Array(), '', '');
        });

        $('#browse-cisco-button').on('click', function(e) {
            display_cisco_software_dialog(new Array(), -1, '');
        });

        $('#on-server-software-dialog-submit').click(function(e) {

            if ($('#server_dialog_server').val() == -1) {
                bootbox.alert("Server Repository has not been specified.");
                return false;
            }

            update_software_packages(server_software_selector.get_selected_items());
        });


        $('#on-cisco-software-dialog-submit').click(function(e) {
            var new_software_packages = [];

            $('.check').each(function(index) {
                if (this.checked) {
                    $(this).attr('checked', false);
                    new_software_packages.push($(this).val());
                }
            });
            update_software_packages(new_software_packages);
        });

        function update_software_packages(new_software_packages) {
            if (new_software_packages.length == 0) {
                return;
            }

            var software_packages = convert_lines_to_list($('#software_packages').val());

            if (software_packages.length > 0) {
                bootbox.dialog({
                    message: "Overwrite existing selected software packages?  Click 'Yes' to overwrite or 'No' to append.",
                    title: "Confirmation",
                    buttons: {
                        success: {
                            label: "Yes",
                            className: "btn-success",
                            callback: function() {
                                $('#software_packages').val(String(new_software_packages).replace(/,/g, '\n'));
                            }
                        },
                        danger: {
                            label: "No",
                            className: "btn-danger",
                            callback: function() {
                                for (i = 0; i < new_software_packages.length; i++) {
                                    software_packages.push(new_software_packages[i]);
                                }
                                $('#software_packages').val(String(software_packages).replace(/,/g, '\n'));
                            }
                        },
                    }
                });
            } else {
                $('#software_packages').val(String(new_software_packages).replace(/,/g, '\n'));
            }
        }

        $('#save-as-software-profile').click(function(e) {
            var software_packages = trim_lines($('#optimize_results').val());
            if (software_packages.length == 0) {
                bootbox.alert('Software packages has not been specified.');
                return;
            }

            // Initialize the variables
            $('#software_profile_name').val('');

            $('#create-software-profile-dialog').modal({
                show: true,
                backdrop: 'static'
            });

        });

        $('#on-create-software-profile-submit').click(function(e) {
            var software_profile_name = $('#software_profile_name').val().trim();
            if (software_profile_name.length == 0) {
                bootbox.alert('Software profile name has not been specified.');
                return false;
            }

            var acceptable_string = get_acceptable_string(software_profile_name);

            if (acceptable_string != software_profile_name) {
                var message = get_acceptable_string_message('Software Profile name', software_profile_name, acceptable_string);
                bootbox.confirm(message, function(result) {
                    if (result) {
                        $('#software_profile_name').val(acceptable_string);
                    }
                });
            } else {
                create_software_profile(software_profile_name, $('#optimize_results').val());
            }

            return false;
        });

        function create_software_profile(software_profile_name, software_packages) {
            $.ajax({
                url: "/conformance/api/create_software_profile",
                dataType: 'json',
                type: "POST",
                data: {
                    software_profile_name: software_profile_name,
                    software_packages: trim_lines(software_packages),
                },
                success: function(data) {
                    if (data.status == 'OK') {
                        $('#create-software-profile-dialog').modal('hide');
                        bootbox.alert('Software Profile has been created.');
                    } else {
                        bootbox.alert('<img src="/static/error.png">&nbsp;' + data.status);
                    }
                }
            });
        }

    });
</script>

<style>
    textarea {
        resize: none;
    }
    .modal-dialog {    
        width: 850px;
    }
    a:link, a:visited {
        text-decoration:none;
    }
    th,
    td {
        white-space: nowrap;
    }
</style>

{% endblock %}

{% block main %}

{% include 'share/optimize_software_dialog.html' %}
{{ cisco_software_dialog(system_option.enable_cco_lookup) }}
{{ server_software_dialog(server_dialog_form.server_dialog_server, server_dialog_form.server_dialog_server_directory, server_dialog_form.server_dialog_target_software) }}

<div id="create-software-profile-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>Create Software Profile</h4>
                </div>
                <div class="modal-body">
                    {{ edit_field(software_profile_form.software_profile_name, field_width="col-sm-6", class="form-control") }}
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-create-software-profile-submit" type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <!-- Main -->
    <form method="post" class="form-horizontal">
        <div class="row">
            <!-- upper section -->
            <div class="container col-sm-6">
                <span class="DodgerBlue"><strong><i class="glyphicon glyphicon-cog"></i> Optimize Software</strong></span>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                        <span class="pull-left">
                            <a id="browse-server-button" href="javascript://">
                                <img title="Browse from a server repository" src="/static/browse_server.png">&nbsp;Server Repository&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                            <a id="browse-cisco-button" href="javascript://">
                                <img title="Browse from CCO" src="/static/internet.png">&nbsp;CCO
                            </a>
                        </span>
                        <span class="pull-right">
                            <a id="optimize-software" href="javascript://">
                                Optimize<img title="Click to optimize software" src="{{ url_for('static', filename='blue_right_arrow.png') }}">
                            </a>
                        </span>
                    </div>
                    <div class="panel-body">
                        Paste software packages (SMUs/SPs) below or select them from above sources.
                        <textarea spellcheck="false" class="form-control" rows="18" id="software_packages" name="software_packages"></textarea>
                    </div>
                </div>
            </div>
            <div class="container col-sm-6">
                <span>&nbsp;</span>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Optimized Software Packages
                        <img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}">
                    </div>
                    <div class="panel-body">
                        &nbsp;
                        <textarea spellcheck="false" class="form-control" rows="18" id="optimize_results"></textarea>
                        <p>
                        <div class="pull-right">
                            <input type='button' class='btn btn-primary' id="save-as-software-profile" value='Save as Software Profile' />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /upper section -->
    </form>
</div>
<!--/Main -->
{% endblock %}