
<script>
    var assign_software_profile_table;

    $(function() {

        var platform_ui = $('#platform_2');
        var software_ui = $("#software_2").select2();
        var region_ui = $("#region_2").select2();
        var role_ui = $("#role_2").select2();
        var software_profile_ui = $('#software_profile_2');

        $('#assign-software-profile-dialog-wizard').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'nextSelector': '.btn-next',
            'previousSelector': '.btn-previous',

            onInit : function(tab, navigation, index){
                //check number of tabs and fill the entire row
                var $total = navigation.find('li').length;
                $width = 100/$total;
                $display_width = $(document).width();

                if($display_width < 600 && $total > 3){
                    $width = 50;
                }
                navigation.find('li').css('width',$width + '%');
            },
            onNext: function(tab, navigation, index){
                if (index == 1){
                    if (software_profile_ui.val() == 0) {
                        bootbox.alert("Software Profile has not been specified.");
                        return false;
                    }
                }
            },
            onTabClick : function(tab, navigation, index){
                // Disable the possibility to click on tabs
                return false;
            },
            onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;

                var wizard = navigation.closest('.wizard-card');

                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $(wizard).find('.btn-next').hide();
                    $(wizard).find('.btn-finish').show();
                } else {
                    $(wizard).find('.btn-next').show();
                    $(wizard).find('.btn-finish').hide();
                }
            }
        });

        software_profile_ui.on('change', function(e) {
            var software_profile_id = $(this).val();
            assign_software_profile_table.api().ajax.url("/conformance/api/get_software_profile/software_profile/" + software_profile_id).load();
        });

        populate_host_platforms(platform_ui);

        platform_ui.on('change', function(e) {
            if ($(this).val().length > 0) {
                initialize_select2(software_ui);
                initialize_select2(region_ui);
                initialize_select2(role_ui);
                populate_host_software_versions(platform_ui, software_ui);
            }
        });

        software_ui.on('change', function(e) {
            if ($(this).val() != null) {
                initialize_select2(region_ui);
                initialize_select2(role_ui);
                populate_host_regions(platform_ui, software_ui, region_ui);
            }
        });

        region_ui.on('change', function(e) {
            if ($(this).val() != null) {
                initialize_select2(role_ui);
                populate_host_roles(platform_ui, software_ui, region_ui, role_ui);
            }
        });

        function initialize_select2(select2_ui) {
            if (select2_ui.val() != null) {
                select2_ui.select2('val', '');
            }
        }

        $('#on-assign-software-profile-dialog-submit').on('click', function(e) {
            var platform = platform_ui.val();
            var software_versions = software_ui.val();
            var region_ids = region_ui.val();
            var roles = role_ui.val();
            var software_profile_id = software_profile_ui.val()

            if (platform_ui.val().length == 0) {
                bootbox.alert('Platform has not been specified.');
                return false;
            }

            if (software_profile_ui.val().length == 0) {
                bootbox.alert('Software Profile has not been specified.');
                return false;
            }

            var software_profile_name = $("#software_profile_2 option:selected").text();
            assign_software_profile_to_hosts(platform, software_versions, region_ids,
                                             roles, software_profile_id, software_profile_name);
        });

        function assign_software_profile_to_hosts(platform, software_versions, region_ids,
                                                  roles, software_profile_id, software_profile_name) {
            $.ajax({
                url: "{{ url_for('conformance.api_assign_software_profile_to_hosts') }}",
                type: "POST",
                data: { platform: platform,
                        software_versions: (software_versions == null ? ['ALL'] : software_versions),
                        region_ids: ((region_ids == null || region_ids == -1) ? ['ALL'] : region_ids),
                        roles: (roles == null ? ['ALL'] : roles),
                        software_profile_id: software_profile_id },
                dataType: 'json',
                success: function(response) {
                    if (response.status == 'OK') {
                        var message = response.message + " Click OK to view all hosts assigned to " + software_profile_name + ".<br><br>"

                        bootbox.confirm(message, function(result) {
                            if (result) {
                                display_software_profile_assignments_dialog(software_profile_id);
                            }
                        });

                    } else {
                        display_error(response.status);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    display_error(errorThrown);
                }
            });
        }

        assign_software_profile_table = $("#assign-software-profile-table").dataTable({
            "order": [
                [0, "asc"]
            ],
            "pageLength": 7,
            "sDom": 'ftip',
            "columnDefs": [{
                "targets": 0,
                "data": 'package'
            }],
            "ajax": {
                "url": "/conformance/api/get_software_profile/software_profile/0",
            }
        });

        function display_error(message) {
            bootbox.alert("<img src=\"{{ url_for('static', filename='error.png') }}\">&nbsp;" + message);
        }

    });

    function display_assign_software_profile_dialog() {
        // Initialize
        populate_software_profiles($('#software_profile_2'), false);
        assign_software_profile_table.api().clear().draw();

        // Go to the first page especially when the dialog is re-used.
        $('a[href="#assign_software_profile_dialog_select_software_profile"]').tab('show');

        $('#assign-software-profile-dialog').modal({show: true, backdrop: 'static'});
    }

</script>


<div id="assign-software-profile-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <!-- <div class="wizard-container"> -->
                <div class="card wizard-card csm-blue" id="assign-software-profile-dialog-wizard">
                    <form class="form-horizontal" method="post">
                        <div class="wizard-header">
                            <h3>
                                Assign Software Profile to Hosts <br>
                            </h3>
                        </div>
                        <ul>
                            <li><a href="#assign_software_profile_dialog_select_software_profile" data-toggle="tab">SELECT SOFTWARE PROFILE</a></li>
                            <li><a href="#assign_software_profile_dialog_select_hosts" data-toggle="tab">SELECT HOSTS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="assign_software_profile_dialog_select_software_profile">
                                <div class="row">
                                    {{ edit_field(assign_software_profile_to_hosts_form.software_profile_2, style="width: 100%", field_width="col-sm-5", class="form-control") }}

                                    <table class="display table" id="assign-software-profile-table">
                                        <thead>
                                            <tr>
                                                <th>Software Packages</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="assign_software_profile_dialog_select_hosts">
                                {{ edit_field(assign_software_profile_to_hosts_form.platform_2, field_width="col-sm-5", class="form-control") }}
                                {{ edit_field(assign_software_profile_to_hosts_form.software_2, multiple="multiple", style="width: 100%", field_width="col-sm-5", class="form-control") }}
                                {{ edit_field(assign_software_profile_to_hosts_form.region_2, multiple="multiple", style="width: 100%", field_width="col-sm-5", class="form-control") }}
                                {{ edit_field(assign_software_profile_to_hosts_form.role_2, multiple="multiple", style="width: 100%", field_width="col-sm-5", class="form-control") }}
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd btn-sm' name='next' value='Next' />
                                <input id='on-assign-software-profile-dialog-submit' data-dismiss="modal" type='button' class='btn btn-finish btn-fill btn-primary btn-wd btn-sm' name='finish' value='Finish' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
</div>
