<!--
This HTML file requires a corresponding conformance_report_dialog.js file

Caller must provide the following WTForms elements with the following IDs

    form.software_profile
-->

{% from 'host/common.html' import edit_field %}
{% from 'share/select_hosts_by_platform.html' import select_hosts_by_platform %}

{% macro conformance_report_dialog(conformance_report_dialog_form) %}

<div id="conformance-report-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">x</button>  
                <!-- <div class="wizard-container"> -->
                <div class="card wizard-card csm-blue" id="conformance-report-dialog-wizard">
                    <form class="form-horizontal" method="post">
                        <div class="wizard-header">
                            <h3>
                                Conformance Report <br>
                            </h3>
                        </div>
                        <ul>
                            <li><a href="#dialog_software_profile" data-toggle="tab">GENERAL</a></li>
                            <li><a href="#dialog_target_hosts" data-toggle="tab">SELECT HOSTS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="dialog_software_profile">
                                <div class="row">
                                    {{ edit_field(conformance_report_dialog_form.software_profile, label_field_width="col-sm-4", field_width="col-sm-5", class="form-control") }}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group ">
                                        <label class="col-sm-4 control-label" id="label_match_criteria">Match Criteria</label>
                                        <div class=col-sm-7>
                                            {{ conformance_report_dialog_form.match_criteria }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group ">
                                        <label class="col-sm-4 control-label" id="label_host_selection_criteria">Host Selection Criteria</label>
                                        <div class=col-sm-7>
                                            {{ conformance_report_dialog_form.host_selection_criteria }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="dialog_target_hosts">
                                <div id="auto-select-hosts-panel">
                                    <h4>Hosts that match the selected Software Profile will be used for the Conformance Report.</h4>
                                </div>

                                <div id="manual-select-hosts-panel">
                                    {{ select_hosts_by_platform(conformance_report_dialog_form.platform, conformance_report_dialog_form.software, conformance_report_dialog_form.region, conformance_report_dialog_form.roles) }}
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd btn-sm' name='next' value='Next' />
                                <input id='on-conformance-report-dialog-submit' data-dismiss="modal" type='button' class='btn btn-finish btn-fill btn-primary btn-wd btn-sm' name='finish' value='Finish' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
</div>

{% endmacro %}