
<script>
    var select_server_repo;
    var make_conform_dialog_spinner;
    var host_software_version = null;

    $(function() {
        select_server_repo = $('#select-server').SelectServerRepo();

        var cco_lookup_enabled = "{{ system_option.enable_cco_lookup }}";

        if (use_utc_timezone) {
            $('#label_scheduled_time').text('Scheduled Time (UTC)');
        } else {
            $('#label_scheduled_time').text('Scheduled Time');
        }

        // server_time is always in UTC format.
        var current_time = "{{ server_time | datetime_string }}";
        if (!use_utc_timezone) {
            current_time = convertToLocaleString(current_time);
        }

        $('#scheduled-time-UTC').val(function(index, value) {
            $('#scheduled-time').val(current_time);
        });

        // These constant values must match the CSM definitions
        var PRE_UPGRADE = "Pre-Upgrade";
        var INSTALL_ADD = "Add";
        var INSTALL_ACTIVATE = "Activate";
        var POST_UPGRADE = "Post-Upgrade";
        var INSTALL_COMMIT = "Commit";
        var ALL = "ALL";

        make_conform_dialog_spinner = $('#make-conform-dialog-spinner');
        make_conform_dialog_spinner.hide();

        $('#server-repository-panel').hide();
        $('#custom-command-profile-panel').hide();

        $("#install_action").select2({});

        $("#custom_command_profile").select2({
            placeholder: 'Optional'
        });

        var datetimepicker = $(".form_datetime").datetimepicker({
            format: "mm/dd/yyyy HH:ii P",
            //format: "yyyy-mm-dd hh:ii:ss",
            showMeridian: true,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "top-left",
            todayHighlight: true
        });

        $('#install_action').on('change', function(e) {
            var install_actions = $(this).val();

            if (has_one_of_these(install_actions, [ALL])) {
                $("#install_action").val([PRE_UPGRADE, INSTALL_ADD, INSTALL_ACTIVATE, POST_UPGRADE, INSTALL_COMMIT]).trigger('change');
            }

            if (has_one_of_these(install_actions, [INSTALL_ADD, ALL])) {
                display_selected_server_info();
            } else {
                $('#server-repository-panel').hide();
            }

            if (has_one_of_these(install_actions, [PRE_UPGRADE, POST_UPGRADE, ALL])) {
                $('#custom-command-profile-panel').show();
            } else {
                $('#custom-command-profile-panel').hide();
            }

        });


        // Use delegate pattern for event
        $('#server-repository-panel').on('click', '#server-edit', function(e) {

            $('#select-server-dialog').modal({
                show: true,
                backdrop: 'static'
            })
        });

        function display_selected_server_info() {
            $('#server-repository-panel').show();

            var html_code = '';
            var server_name = select_server_repo.get_server_name();
            var server_directory = select_server_repo.get_server_directory();

            html_code = '<table>';
            html_code += '<tr><td><span style="color: Gray;">Server Repository:&nbsp;</span></td><td>' + server_name;
            html_code += '&nbsp;&nbsp;<a id="server-edit" href="javascript://"><img src="/static/edit.png" title="Edit"></a></td></tr>';

            // FIXME: Somehow server_directory = null even though it is reset in display_make_conform_dialog().
            if (server_directory != null && server_directory.length > 0) {
                html_code += '<tr><td><span style="color: Gray;">Server Directory:&nbsp;</span></td><td>' + server_directory + '</td></tr>';
            }
            html_code += '</table>';

            $('#server-repository-info').html(html_code);
        }

        $('#on-select-server-submit').click(function(e) {
            if (select_server_repo.get_server_id() == -1) {
                bootbox.alert("Server Repository has not been specified.");
            }

            display_selected_server_info();
        });

        $('#on-finish-submit').on('click', function(e) {

            var install_actions = $('#install_action').val();
            var server_id = select_server_repo.get_server_id();

            if (install_actions == null) {
                bootbox.alert("Install Action has not been specified.");
                return false;
            }

            if (has_one_of_these(install_actions, [INSTALL_ADD]) && server_id == -1) {
                $('#select-server-dialog').modal({
                    show: true,
                    backdrop: 'static'
                })
                return false;
            }

            var software_packages = $('#software_packages').val().trim();
            if (!validate_package_count_restriction(host_software_platform, host_software_version, software_packages)) {
                return false;
            }

            on_make_conform();

            return false;
        });

        function on_make_conform() {
            var hostname = $('#make-conform-dialog').data('hostname');

            var validate_object = {
                form: null,
                hostname: hostname,
                server_id: select_server_repo.get_server_id() ,
                server_directory: select_server_repo.get_server_directory(),
                software_packages: $('#software_packages').val(),
                spinner: make_conform_dialog_spinner,
                install_actions: $('#install_action').val(),
                check_missing_file_on_server: select_server_repo.get_server_id() > -1,
                callback: make_conform,
                pending_downloads: null,
                cco_lookup_enabled: cco_lookup_enabled
            };

            if (has_one_of_these($('#install_action').val(), [INSTALL_ADD])) {
                on_validate_prerequisites_and_files_on_server(validate_object);
            } else if (has_one_of_these($('#install_action').val(), [INSTALL_ACTIVATE])) {
                // Check for packages that may cause router to reload during Activate.
                // Turn off check_missing_file_on_server as it is only used for
                // Install Add.
                validate_object.check_missing_file_on_server = false;
                check_need_reload(validate_object);

            } else {
                make_conform(validate_object);
            }
        }

        function make_conform(validate_object) {
            if (use_utc_timezone) {
                $('#scheduled-time-UTC').val($('#scheduled-time').val());
            } else {
                $('#scheduled-time-UTC').val(convertToUTCString($('#scheduled-time').val()));
            }

            // Update the software packages textarea
            $('#software_packages').val(validate_object.software_packages);

            var hostname = $('#make-conform-dialog').data('hostname');

            $.ajax({
                url: "/conformance/api/make_conform",
                dataType: 'json',
                type: "POST",
                data: {
                    hostname: hostname,
                    install_actions: $('#install_action').val(),
                    scheduled_time_UTC: $('#scheduled-time-UTC').val(),
                    software_packages: trim_lines($('#software_packages').val()),
                    server_id: select_server_repo.get_server_id(),
                    server_directory: select_server_repo.get_server_directory(),
                    pending_downloads: validate_object.pending_downloads,
                    custom_command_profile_ids: $('#custom_command_profile').val()
                },
                success: function(data) {
                    if (data.status == 'OK') {
                        if (install_action.length == 1) {
                            bootbox.alert('The request scheduled installation has been submitted for ' + hostname + '.');
                        } else {
                            bootbox.alert('The request scheduled installations have been submitted for ' + hostname + '.');
                        }
                        $('#make-conform-dialog').modal('hide');
                    } else {
                        bootbox.alert('<img src="/static/error.png">&nbsp;ERROR: Unable to schedule installation.  ' + data.status);
                    }
                }
            });
        }

    });


    function display_make_conform_dialog(hostname, software_platform, software_version, missing_packages) {
        $.ajax({
            url: "/host_dashboard/api/is_host_valid/" + hostname,
            dataType: 'json',
            success: function(response) {
                if (response.status == 'OK') {
                    host_software_platform  = software_platform;
                    host_software_version = software_version;

                    // Reset variables
                    $("#install_action").val(null).trigger("change");

                    $('#make-conform-dialog').data('hostname', hostname)
                    $('#make-conform-dialog-title').html(hostname);
                    $('#software_packages').val(comma2newline(missing_packages));

                    $('#make-conform-dialog').modal({
                        show: true,
                        backdrop: 'static'
                    });

                    select_server_repo.initialize_servers_by_hostname(hostname);

                } else {
                    bootbox.alert('Host ' + hostname + ' does not exist in the database.');
                }
            }
        });


    }

</script>


<div id="make-conform-dialog" data-hostname="" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3><center>Make Conform: <span id="make-conform-dialog-title"></span></center></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="col-sm-4 control-label" id="label_install_action" for="install_action">Install Action</label>
                        <div class=col-sm-6>
                            <select class="form-control" id="install_action" multiple name="install_action" style="width: 100%">
                                <optgroup label="Install">
                                    {% for install_action in install_actions %}
                                        <option value="{{ install_action }}">{{ install_action }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    {{ edit_field(make_conform_dialog_form.software_packages, class="form-control", wrap="off", style="overflow:scroll;resize: none", spellcheck="false", rows="10") }}

                    <div id="server-repository-panel" class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div id="server-repository-info" class="col-sm-8">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label id="label_scheduled_time" class="col-sm-4 control-label">{{ make_conform_dialog_form.scheduled_time.label() }}</label>
                        <div class="col-sm-6">
                            <div  class="input-group date form_datetime">
                                <input id="scheduled-time" name="{{ make_conform_dialog_form.scheduled_time.name }}" class="form-control" size="16" type="text" readonly>
                                <input id="scheduled-time-UTC" name="{{ make_conform_dialog_form.scheduled_time_UTC.name }}" value="{{ make_conform_dialog_form.scheduled_time_UTC.data }}" class="form-control" type="hidden">
                                <span class="input-group-addon DodgerBlue"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div id="custom-command-profile-panel">
                        {{ edit_field(make_conform_dialog_form.custom_command_profile, class="form-control", field_width="col-sm-6", style="width: 100%") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-finish-submit" class="btn btn-primary" data-dismiss="modal">Schedule</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                            <img id="make-conform-dialog-spinner" src="{{ url_for('static', filename='spinner.gif') }}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="select-server-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>Select Server Repository</h4>
                </div>
                <div class="modal-body">
                    <div><div id="select-server" data-name="select-server"></div></div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-select-server-submit" type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>