<script>

    $(function() {
        var software_profile_ui = $('#software_profile_3');

        populate_software_profiles(software_profile_ui, false);

        var host_software_profile_table_url = "/datatable/api/get_host_software_profile_list/software_profile/";
        var host_software_profile_table = $("#host-software-profile-table").dataTable({
            "serverSide": true,
            "order": [
                [0, "asc"]
            ],
            "pageLength": 10,
            "columns": [
                { "data": "hostname" },
                { "data": "region" },
                { "data": "roles" },
                { "data": "platform" },
                { "data": "software_platform" },
                { "data": "software_version" }
            ],
            "columnDefs": [
            {
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/host_dashboard/hosts/' + data + '/" target="_blank">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'region'
            }, {
                "targets": 2,
                "data": 'roles'
            }, {
                "targets": 3,
                "data": 'platform'
            }, {
                "targets": 4,
                "data": 'software_platform'
            }, {
                "targets": 5,
                "data": 'software_platform'
            }, {
                "targets": 6,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a class="host-remove-link" href="javascript://"  \
                        remove-host="' + data + '" \
                        data-remove-url="/conformance/api/hosts/' + data + '/software_profile/delete">Remove</a>';
                }
            }],
            "ajax": {
                "url": host_software_profile_table_url + "0",
            }
        });

        // Use delegate pattern for event
        host_software_profile_table.on("click", ".host-remove-link", function() {
            var remove_url = $(this).attr('data-remove-url');
            var remove_host = $(this).attr('remove-host');

            bootbox.confirm("You are about to remove the Software Profile assigned to host \'" + remove_host + "\'.  OK to proceed?", function(result) {
                if (result) {
                    $.ajax({
                        url: remove_url,
                        type: 'DELETE',
                        success: function(result) {
                            if (result.status == 'OK') {
                                refresh_host_table(software_profile_ui.val());
                            } else {
                                bootbox.alert('Delete failed.');
                            }
                        }
                    });
                }
            });
        });

        function refresh_host_table(software_profile) {
            host_software_profile_table.api().ajax.url(host_software_profile_table_url + software_profile).load();
        }

        software_profile_ui.on('change', function(e) {
            refresh_host_table($(this).val());
        });

    });

</script>

<div id="view-host-software-profile-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    {{ edit_field(view_host_software_profile_form.software_profile_3, field_width="col-sm-5", class="form-control") }}

                    <table class="display table" id="host-software-profile-table">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Region</th>
                                <th>Roles</th>
                                <th>Chassis</th>
                                <th>Platform</th>
                                <th>Software</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
