{% extends 'base.html' %}

{% from 'host/common.html' import edit_field %}

{% block extra_head %}
  <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
  <script src="/static/showhidepassword-1.0.0/js/password.js"></script>
   
  <script charset="utf-8">
    $(function() {
      
      // initialize the show/hide password widget
      $('#password').password();
      $('#default_host_password').password();
      
      $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('active');  
    
        if ($(this).find('.btn-primary').size()>0) {
    	  $(this).find('.btn').toggleClass('btn-primary');
        }
    
        $(this).find('.btn').toggleClass('btn-default');       
      });
      
      $('#enable_email_notify').val(function() {
        if ($('#enable_email_notify').val() == 'True') {
          $('#enable-email-notify-yes-button').addClass("btn-primary active");
          $('#enable-email-notify-no-button').addClass("btn-default");
        } else {
          $('#enable-email-notify-no-button').addClass("btn-primary active");
          $('#enable-email-notify-yes-button').addClass("btn-default");
        }      
      });
      
      $('#can_schedule').val(function() {
        if ($('#can_schedule').val() == 'True') {
          $('#can-schedule-yes-button').addClass("btn-primary active");
          $('#can-schedule-no-button').addClass("btn-default");
        } else {
          $('#can-schedule-no-button').addClass("btn-primary active");
          $('#can-schedule-yes-button').addClass("btn-default");
        }
      });
      
      $('#can_install').val(function() {
        if ($('#can_install').val() == 'True') {
          $('#can-install-yes-button').addClass("btn-primary active");
          $('#can-install-no-button').addClass("btn-default");
        } else {
          $('#can-install-no-button').addClass("btn-primary active");
          $('#can-install-yes-button').addClass("btn-default");
        }
      });
         
      $('#enable_inventory').val(function() { 
        if ($('#enable_inventory').val() == 'True') {
          $('#enable-inventory-yes-button').addClass("btn-primary active");
          $('#enable-inventory-no-button').addClass("btn-default");
        } else {
          $('#enable-inventory-no-button').addClass("btn-primary active");
          $('#enable-inventory-yes-button').addClass("btn-default");
        }
      });
      
      $('#enable_ldap_auth').val(function() { 
        if ($('#enable_ldap_auth').val() == 'True') {
          $('#enable-ldap-auth-yes-button').addClass("btn-primary active");
          $('#enable-ldap-auth-no-button').addClass("btn-default");
        } else {
          $('#enable-ldap-auth-no-button').addClass("btn-primary active");
          $('#enable-ldap-auth-yes-button').addClass("btn-default");
        }
      });
      
      $('#use_authentication').val(function() { 
        if ($('#use_authentication').val() == 'True') {
          $('#use-authentication-yes-button').addClass("btn-primary active");
          $('#use-authentication-no-button').addClass("btn-default");
        } else {
          $('#use-authentication-no-button').addClass("btn-primary active");
          $('#use-authentication-yes-button').addClass("btn-default");
        }
      });
      
      $('#enable_default_host_authentication').val(function() { 
        if ($('#enable_default_host_authentication').val() == 'True') {
          $('#enable-default-host-authentication-yes-button').addClass("btn-primary active");
          $('#enable-default-host-authentication-no-button').addClass("btn-default");
        } else {
          $('#enable-default-host-authentication-no-button').addClass("btn-primary active");
          $('#enable-default-host-authentication-yes-button').addClass("btn-default");
        }
      });
      
      $('form').submit(function() {
        $('#can_schedule').val($("#can-schedule-yes-or-no .active").data("value"));
        $('#can_install').val($("#can-install-yes-or-no .active").data("value"));
        $('#enable_email_notify').val($("#enable-email-notify-yes-or-no .active").data("value"));
        $('#enable_inventory').val($("#enable-inventory-yes-or-no .active").data("value"));
        $('#enable_ldap_auth').val($("#enable-ldap-auth-yes-or-no .active").data("value"));
        $('#use_authentication').val($("#use-authentication-yes-or-no .active").data("value"));
        $('#enable_default_host_authentication').val($("#enable-default-host-authentication-yes-or-no .active").data("value"));
      });
     
    });
  </script>

{% endblock extra_head %}

{% block main %}

<div class="container"> <!-- Main -->
 <form method="post" class="form-horizontal">
  <div class="row">  <!-- upper section -->
  
    {% if (admin_console_form.errors) or (smtp_form.errors) %}
      <div class="alert alert-danger"> 
        <strong>NOTICE:&nbsp;</strong> 
           The form has validation errors.  Please fix them before proceeding to save it.       
      </div>
    {% endif %}
    
    <div class="container col-sm-6">
      <span class="DodgerBlue"><strong><i class="glyphicon glyphicon-cog"></i> Admin Dashboard</strong></span>
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Process Settings</h4></div>
        <div class="panel-body">
         CSM Server must be restarted in order for the changes below to take place.<hr>
         {{ edit_field(admin_console_form.num_inventory_threads, label_field_width="col-sm-8", field_width="col-sm-2", class="form-control") }}
         {{ edit_field(admin_console_form.num_install_threads, label_field_width="col-sm-8", field_width="col-sm-2", class="form-control") }}
         {{ edit_field(admin_console_form.num_download_threads, label_field_width="col-sm-8", field_width="col-sm-2", class="form-control") }}
     
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Software Inventory Settings</h4></div>
        <div class="panel-body">
         CSM Server must be restarted in order for the changes below to take place.<hr>
         
          <!-- do this for proper alignment with other UI elements, edit_field() won't work here -->
           <div class="form-group ">
             <label class="col-sm-7 control-label" for="{{ admin_console_form.enable_inventory.id }}">{{ admin_console_form.enable_inventory.label.text }}</label>
             <div class=col-sm-5>
               <div class="btn-group btn-toggle" id="enable-inventory-yes-or-no"> 
                 <button type="button" id="enable-inventory-yes-button" class="btn" data-value=1>Yes</button>
                 <button type="button" id="enable-inventory-no-button" class="btn" data-value=0>No</button>
               </div>
             </div>
             <input class="form-control" id="{{ admin_console_form.enable_inventory.id }}" name="{{ admin_console_form.enable_inventory.id }}" type="hidden" value="{{ admin_console_form.enable_inventory.data }}">
           </div>
            
         {{ edit_field(admin_console_form.inventory_hour, label_field_width="col-sm-7", field_width="col-sm-5", class="form-control") }}
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>LDAP Authentication</h4></div>
        <div class="panel-body">
         An example of the LDAP Server URL is ldap://ldap.cisco.com.<hr>
         
          <!-- do this for proper alignment with other UI elements, edit_field() won't work here -->
           <div class="form-group ">
             <label class="col-sm-4 control-label" for="{{ admin_console_form.enable_ldap_auth.id }}">{{ admin_console_form.enable_ldap_auth.label.text }}</label>
             <div class=col-sm-5>
               <div class="btn-group btn-toggle" id="enable-ldap-auth-yes-or-no"> 
                 <button type="button" id="enable-ldap-auth-yes-button" class="btn" data-value=1>Yes</button>
                 <button type="button" id="enable-ldap-auth-no-button" class="btn" data-value=0>No</button>
               </div>
             </div>
             <input class="form-control" id="{{ admin_console_form.enable_ldap_auth.id }}" name="{{ admin_console_form.enable_ldap_auth.id }}" type="hidden" value="{{ admin_console_form.enable_ldap_auth.data }}">
           </div>
            
         {{ edit_field(admin_console_form.ldap_server_url, label_field_width="col-sm-4", field_width="col-sm-7", class="form-control") }}
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Default Host Authentication</h4></div>
        <div class="panel-body">
         The default host authentication will be used when a host does not have username and password specified.<hr>
         
          <!-- do this for proper alignment with other UI elements, edit_field() won't work here -->
           <div class="form-group ">
             <label class="col-sm-7 control-label" for="{{ admin_console_form.enable_default_host_authentication.id }}">{{ admin_console_form.enable_default_host_authentication.label.text }}</label>
             <div class=col-sm-5>
               <div class="btn-group btn-toggle" id="enable-default-host-authentication-yes-or-no"> 
                 <button type="button" id="enable-default-host-authentication-yes-button" class="btn" data-value=1>Yes</button>
                 <button type="button" id="enable-default-host-authentication-no-button" class="btn" data-value=0>No</button>
               </div>
             </div>
             <input class="form-control" id="{{ admin_console_form.enable_default_host_authentication.id }}" name="{{ admin_console_form.enable_default_host_authentication.id }}" type="hidden" value="{{ admin_console_form.enable_default_host_authentication.data }}">
           </div>
            
         {{ edit_field(admin_console_form.default_host_username, autocomplete="off", label_field_width="col-sm-7", field_width="col-sm-5", class="form-control") }}
         {{ edit_field(admin_console_form.default_host_password, autocomplete="off", label_field_width="col-sm-7", field_width="col-sm-5", class="form-control", placeholder="Use Password on File") }}
        </div>
      </div>   
      
    </div>
 
    <div class="container col-sm-6">
      <span>&nbsp;</span>        
      <div class="form-actions">
        <div class="btn-group pull-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
           
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Scheduled Install Settings</h4></div>
          <div class="panel-body">
            {% set extra_field =
              '<div class="btn-group btn-toggle" id="can-schedule-yes-or-no"> 
                <button type="button" id="can-schedule-yes-button" class="btn" data-value=1>Yes</button>
                <button type="button" id="can-schedule-no-button" class="btn" data-value=0>No</button>
               </div>'
             %}           
            {{ edit_field(admin_console_form.can_schedule, label_field_width="col-sm-6", class="form-control", extra_field=extra_field) }}           
              
            {% set extra_field =
              '<div class="btn-group btn-toggle" id="can-install-yes-or-no"> 
                <button type="button" id="can-install-yes-button" class="btn" data-value=1>Yes</button>
                <button type="button" id="can-install-no-button" class="btn" data-value=0>No</button>
               </div>'
             %}           
            {{ edit_field(admin_console_form.can_install, label_field_width="col-sm-6", class="form-control", extra_field=extra_field) }}
            
          </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Email Notification Settings</h4></div>
          <div class="panel-body">
          
           <!-- do this for proper alignment with other UI elements, edit_field() won't work here -->
           <div class="form-group ">
             <label class="col-sm-5 control-label" for="{{ admin_console_form.enable_email_notify.id }}">{{ admin_console_form.enable_email_notify.label.text }}</label>
             <div class=col-sm-6>
               <div class="btn-group btn-toggle" id="enable-email-notify-yes-or-no"> 
                 <button type="button" id="enable-email-notify-yes-button" class="btn" data-value=1>Yes</button>
                 <button type="button" id="enable-email-notify-no-button" class="btn" data-value=0>No</button>
               </div>
             </div>
             <input class="form-control" id="{{ admin_console_form.enable_email_notify.id }}" name="{{ admin_console_form.enable_email_notify.id }}" type="hidden" value="{{ admin_console_form.enable_email_notify.data }}">
           </div>
          
           {{ edit_field(smtp_form.server, label_field_width="col-sm-5", field_width="col-sm-6", class="form-control",
             placeholder="localhost") }}
           {{ edit_field(smtp_form.server_port, label_field_width="col-sm-5", field_width="col-sm-6", class="form-control",
             placeholder="Blank for Default") }}
           {{ edit_field(smtp_form.sender, label_field_width="col-sm-5", field_width="col-sm-6", class="form-control") }}
            
           <legend>Logon Information</legend>
           
           <!-- do this for proper alignment with other UI elements, edit_field() won't work here -->
           <div class="form-group ">
             <label class="col-sm-5 control-label" for="{{ smtp_form.use_authentication.id }}">{{ smtp_form.use_authentication.label.text }}</label>
             <div class=col-sm-6>
               <div class="btn-group btn-toggle" id="use-authentication-yes-or-no"> 
                 <button type="button" id="use-authentication-yes-button" class="btn" data-value=1>Yes</button>
                 <button type="button" id="use-authentication-no-button" class="btn" data-value=0>No</button>
               </div>
             </div>
             <input class="form-control" id="{{ smtp_form.use_authentication.id }}" name="{{ smtp_form.use_authentication.id }}" type="hidden" value="{{ smtp_form.use_authentication.data }}">
           </div>
                  
           {{ edit_field(smtp_form.username, autocomplete="off", label_field_width="col-sm-5", field_width="col-sm-6", class="form-control") }}
            
           {{ edit_field(smtp_form.password, autocomplete="off", label_field_width="col-sm-5", field_width="col-sm-6", class="form-control",
             placeholder="Use Password on File") }}
            
           {{ edit_field(smtp_form.secure_connection, label_field_width="col-sm-5", field_width="col-sm-6", class="form-control") }}
            
           <!--
           <div class="btn-group pull-right"> 
             <button id="install-history-button" type="button" class="btn btn-primary">Send Test Email</button>
           </div>
           -->
           
         </div>
       </div>
       
       <div class="panel panel-default">
        <div class="panel-heading"><h4>Housekeeping Settings</h4></div>
          <div class="panel-body">
            {{ edit_field(admin_console_form.inventory_history_per_host, label_field_width="col-sm-8", field_width="col-sm-3", class="form-control") }}
            {{ edit_field(admin_console_form.install_history_per_host, label_field_width="col-sm-8", field_width="col-sm-3", class="form-control") }}
            {{ edit_field(admin_console_form.download_history_per_user, label_field_width="col-sm-8", field_width="col-sm-3", class="form-control") }}
            {{ edit_field(admin_console_form.total_system_logs, label_field_width="col-sm-8", field_width="col-sm-3", class="form-control") }}
          </div>
      </div>
      
    </div>
    
  </div> <!-- /upper section -->

  </form>
</div> <!--/Main -->


{% endblock main %}