{% extends 'base.html' %}

{% from 'host/common.html' import edit_field %}

{% block extra_head %}

<script>

$(function() {

});

</script>

<style>
    .nav-pills>li>a {
        border-radius: 0px;
    }
</style>

{% endblock extra_head %}

{% block main %}
<form id="form" class="form-horizontal">
    <div class="container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Custom Command Profiles</h4>
            </div>
        </div>
    </div>
</form>

{% endblock main %}