{% extends 'base.html' %}


{% block extra_head %}
  <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
   
  <script charset="utf-8">
    $(function() {
      var optimizedList = [];
      var includeAnnotation = false;
      
      var spinner = $('#spinner'); 
      spinner.hide();
      
      $('#toggle_list').on("click", function() {
        if (includeAnnotation) {
          include_annotation();
        } else {
          exclude_annotation();
        }
        includeAnnotation = !includeAnnotation;
      });
      
      
      function include_annotation() {
        lines = '';
        for (var i = 0; i < optimizedList.length; i++) {
          var smu_entry = optimizedList[i];
           lines += smu_entry + '\n';
        }
        $('#optimized_list').html(lines);
      }
      
      function exclude_annotation() {
        lines = '';
        for (var i = 0; i < optimizedList.length; i++) {
          var smu_entry = optimizedList[i];
          if (smu_entry.indexOf('Superseded') == -1) {
            lines += smu_entry.replace('(A Missing Pre-requisite)', '') + '\n';
          }
        }
        $('#optimized_list').html(lines);
      }
      
      $('#optimize-list').on("click", function() {
        spinner.show();
        
        var formData = { 
          smu_list: $('#smu-list').val()
        };

        $.ajax({
           url: "/api/optimize_list",
           dataType: 'json',
           data: formData,
           success: function (data) { 
             optimizedList = [];
             var lines = '';
             $.each(data, function(index, element) {
               for (i = 0; i < element.length; i++) {
                 var smu_entry = element[i].smu_entry;
                 lines += smu_entry + '\n';
                 optimizedList.push(smu_entry);
               }

             });
             
             $('#optimized_list').html(lines);
             spinner.hide();
           },
           error: function(XMLHttpRequest, textStatus, errorThrown) { 
             spinner.hide();
           }
         });   
       });  
       
    });
  </script>

  <style>
    textarea {
      resize: none;
    }
  </style>
{% endblock extra_head %}

{% block main %}

<div class="container"> <!-- Main -->
 <form method="post" class="form-horizontal">
  <div class="row">  <!-- upper section -->
    
    <div class="container col-sm-6">
      <span class="DodgerBlue"><strong><i class="glyphicon glyphicon-cog"></i> Optimize List</strong></span>
      <hr>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          SMU or Service Pack List
          <span class="pull-right">
            <a id="optimize-list" href="javascript://">Optimize
              <img title="Click to Optimize" src="{{ url_for('static', filename='right_arrow.png') }}">
            </a>
          </span>
        </div>
        <div class="panel-body">
          Paste the SMU names on below text window and click the green arrow to optimize.
          <textarea spellcheck="false" class="form-control" rows="18" id="smu-list" name="smu-list"></textarea>
        </div>
      </div>
      
    </div>
 
    <div class="container col-sm-6">
      <span>&nbsp;</span>  
      <hr>     
      <div class="panel panel-default">
        <div class="panel-heading">
          Optimized SMUs or Service Packs       
          <img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}">        
           <span class="pull-right">
            <a id="toggle_list" href="javascript://">Toggle Results
              <img title="Toggle Verbosity/Superseded SMUs" src="{{ url_for('static', filename='toggle.png') }}">
            </a>
          </span>  
        </div>
        <div class="panel-body">
          The resultant list contains any missing pre-requisites or superseded SMUs.
          <textarea spellcheck="false" class="form-control" rows="18" id="optimized_list" name="optimized_list"></textarea>
        </div>
      </div>
      
    </div>
    
  </div> <!-- /upper section -->

  </form>
</div> <!--/Main -->


{% endblock main %}