<script>

var check_host_software_profile_datatable = null;

$(function() {

    check_host_software_profile_datatable = $("#check-host-software-profile-datatable").dataTable({
        "order": [
            [0, "asc"]
        ],
        "scrollY": "250px",
        "paging": false
    });

});

function display_check_host_software_profile_dialog(info) {

    $('#check-host-software-profile-dialog').modal({
        show: true,
        backdrop: 'static'
    });

    check_host_software_profile_datatable.api().clear();

    for (var i = 0; i < info.length; i++) {
        check_host_software_profile_datatable.api().row.add([info[i].hostname, info[i].software_package]);
    }

    check_host_software_profile_datatable.api().draw();
}

</script>

<div id="check-host-software-profile-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close on-cancel" data-dismiss="modal">x</button>
                    <h4>
                        <center><img src="/static/error.png">&nbsp;Unable to schedule an installation job.<br>
                            Following requested software packages are not defined in the host software profile.<br>
                            Remove the software packages or exclude the host(s) before proceeding.
                        </center>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table class="display table" id="check-host-software-profile-datatable">
                            <thead>
                                <tr>
                                    <th>Hostname</th>
                                    <th>Package</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-ok" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>