<!--
This HTML file requires a corresponding host_software_dialog.js file

Caller must provide the following WTForms elements with the following IDs

    form.host_software_dialog_host (id = host_software_dialog_host)
    form.host_software_dialog_last_successful_inventory_elapsed_time (id = host_software_dialog_last_successful_inventory_elapsed_time)
    form.host_software_dialog_target_software (id = host_software_dialog_target_software)
-->

{% from 'host/common.html' import edit_field %}

{% macro host_software_dialog(host_selector, last_successful_inventory_elaspsed_time, target_software) %}
<div id="host-software-dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <form method="post" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4><span id="host-software-dialog-title"></span></h4>
                    {{ edit_field(host_selector, field_width="col-sm-6", class="form-control") }}

                    {% set extra_field ='<a href="javascript://" id="host-software-retrieve-software">
                        <img src="/static/refresh.png" title="Retrieve Latest Software"></a>
                        <span id="host-software-dialog-browse-spinner">
                        <img src="/static/spinner.gif">
                        </span>'
                    %}

                    {{ edit_field(last_successful_inventory_elaspsed_time, readonly=true, field_width="col-sm-6", class="form-control", extra_field=extra_field) }}
                </div>
                <div class="modal-body">
                    <div id="host-software-dialog-auto-select-software-panel">
                        {% set extra_field =
                            '<button id="host-software-dialog-auto-select-software" class="btn btn-primary">Auto Select</button>'
                        %}

                        {{ edit_field(target_software, field_width="col-sm-6", class="form-control", placeholder="Software Upgrade Only (enter X.X.X format)", extra_field=extra_field) }}
                    </div>
                    <div class="form-group">
                        <select id="host-software-selector" name="host-software-selector" multiple="multiple" data-title="Software-Pkgs" data-json=false></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="btn col-sm-offset-4">
                            <button id="on-host-software-submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endmacro %}