<!--
This HTML file requires a corresponding select_server.js file

Caller may provide the following WTForms elements with the following IDs
    form.select_server
    form.select_server_directory
-->

{% from 'host/common.html' import edit_field %}

{% macro select_server(server, server_directory) %}

    {% if server and server_directory %}

        {% set extra_field =
            '<span id="select-server-spinner">
                <img src="/static/spinner.gif">
            </span>'
        %}

        {{ edit_field(server, field_width="col-sm-7", class="form-control", extra_field=extra_field) }}

        {% set extra_field =
            '<a href="javascript://">
                <img id="select-server-move-up" src="/static/up_arrow.png" title="Go to Parent Folder">
                <img id="select-server-reset-server-directory" src="/static/remove.png" title="Reset Server Directory">
            </a>'
        %}

        {{ edit_field(server_directory, field_width="col-sm-7", class="form-control", extra_field=extra_field) }}

    {% endif %}

{% endmacro %}