<!--
This HTML file requires a corresponding select_region_hosts.js file

Caller may provide the following WTForms elements with the following IDs
    form.region 
    form.role
    form.software
-->

{% from 'host/common.html' import edit_field %}

{% macro select_region_hosts(region, role, software) %}

{{ edit_field(region, field_width="col-sm-5", class="form-control") }}
{{ edit_field(role, field_width="col-sm-5", class="form-control") }}
{{ edit_field(software, field_width="col-sm-5", class="form-control") }}
      
<div class="col-sm-12">
    <div class="form-group row">
        <select id="host-selector" name="host-selector" multiple="multiple" data-title="Hosts" data-json=false></select>
    </div>
</div>

{% endmacro %}