{% extends 'base.html' %}

{% from 'host/common.html' import edit_field %}
{% from 'host/common.html' import alert_duplicate %}

{% if request.endpoint.endswith('edit') %}
  {% set title = 'Edit Region' %}
{% else %}
  {% set title = 'Create Region' %}
{% endif %}

{% block extra_head %}
  <link href="/static/duallistbox-2.1.1/css/bootstrap-duallistbox.css" rel="stylesheet" type="text/css" media="all">
  <script src="/static/duallistbox-2.1.1/js/jquery.bootstrap-duallistbox.js"></script>
  <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
  
  <script type="text/javascript">
    $(function() {
    
      var spinner = $('#spinner');    
      spinner.hide();
    
      $('#form').submit(function() {
        var server_id = $('#server').val();
        if (server_id < 0) {
          bootbox.alert("Server Repository has not been specified.");
          return false;
        }
        currentForm.submit();

      });
      
      var duallist = $('#selected-servers').bootstrapDualListbox({
        nonselectedlistlabel: 'Available Servers',
        selectedlistlabel: 'Servers Assigned to this Region',
        preserveselectiononmove: 'moved',
        moveonselect: false
      });
      
      spinner.show();
      
      var selectedItems = new Array();
      var lines = String(duallist.val()).split(',')

      $.each(lines, function() {
        var line = this.trim();
        if (line.length > 0) {
          selectedItems.push(line);
        }
      });
      
      $.ajax({
        url: "/api/get_servers",
        dataType: 'json',
        success: function (data) {
          $.each(data, function(index, element) {
            for (i = 0; i < element.length; i++) {
              var server_id = element[i].server_id;
              var hostname = element[i].hostname;

              if (!selectedItems.contains(server_id) ) {
                duallist.append('<option value="' + server_id + '">' + hostname + '</option>');
              }
            }
          });
          
          duallist.trigger('bootstrapduallistbox.refresh', true)           
          spinner.hide();
        },
        error: function(xhr, status, errorThrown) { 
          bootbox.alert("Unable to retrieve server list. Error=" + errorThrown);
          spinner.hide();
        }  
      });       
      
      Array.prototype.contains = function(obj) {
        var i = this.length;
        while (i--) {
          if (this[i] == obj) {
            return true;
          }
        }
        return false;
      }
  
    });
  </script>
  
{% endblock extra_head %}
 
 
{% block main %}
<div class="row">
  <div class="well col-sm-offset-2 col-sm-8">
  <form id="form" method="post" class="form-horizontal">

    <legend>{{ title }}</legend>
    {{ alert_duplicate(form.region_name.data, duplicate_error) }}

    {{ edit_field(form.region_name, field_width="col-sm-4", class="form-control", 
      placeholder="Unique Name on CSM Server") }}
    
    <legend>Server Repositories</legend>
    
    <div class="col-sm-offset-1 col-sm-10">
      <div class="form-group">
        <select id="selected-servers" name="selected-servers" multiple>
        
          {% if region %}
            {% for server in region.servers %}
               <option value="{{ server.id }}" selected>{{ server.hostname }}</option>'
            {% endfor %}
          {% endif %}
          
        </select>
        <span id="spinner"><center><img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}"></center></span>
      </div>
    </div>
 
    <div class="form-actions">
      <div class="btn col-sm-offset-4">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" onClick="location.href='{{ url_for('home') }}'" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock main %}