<!DOCTYPE html>
<html>

<head>
    <title>Cisco Software Manager Server</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Application icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- jquery -->
    <link rel="stylesheet" type="text/css" href="/static/jquery/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery/css/smoothness/jquery-ui-1.10.4.custom.min.css">
    <script src="/static/jquery/js/jquery-1.10.2.js"></script>
    <script src="/static/jquery/js/jquery-ui-1.10.4.min.js"></script>
    <!-- standard CSM Server jquery -->
    <script type="text/javascript" src="/static/jquery/js/datetime-utils.js"></script>
    <script type="text/javascript" src="/static/jquery/js/common-utils.js"></script>
    <!-- DateTimePicker (http://www.malot.fr/bootstrap-datetimepicker) -->
    <link rel="stylesheet" href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- DataTables (https://www.datatables.net) -->
    <link rel="stylesheet" type="text/css" href="/static/datatables-1.10.4/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/datatables-1.10.4/media/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="/static/datatables-1.10.4/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/datatables-1.10.4/media/js/dataTables.bootstrap.js"></script>
    <!-- Select2 (https://select2.github.io) -->
    <link rel="stylesheet" href="/static/select2-4.0.0/dist/css/select2.css">
    <script src="/static/select2-4.0.0/dist/js/select2.min.js"></script>
    <!-- (http://underscorejs.org) -->
    <script src="/static/underscorejs/underscore.min.js"></script>
    <!-- bootbox (http://bootboxjs.com) -->
    <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
    <!-- dual-list-box (https://github.com/Geodan/DualListBox) It has been modified -->
    <script src="/static/duallistbox/dist/dual-list-box.js"></script>
    <!-- cookie -->
    <script src="/static/jquery-cookie-master/jquery.cookie.js"></script>
    <!-- wizard (http://www.creative-tim.com/product/bootstrap-wizard) -->
    <link href="/static/x-wizard-1.1/assets/css/gsdk-base-modified.css" rel="stylesheet" />
    <script src="/static/x-wizard-1.1/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <!-- show/hide password (https://github.com/wenzhixin/bootstrap-show-password) -->
    <script src="/static/showhidepassword-1.0.0/js/password.js"></script>
    <!-- Jasny (http://www.jasny.net/bootstrap/) -->
    <link href="/static/jasny-bootstrap-3.1.3/css/jasny-bootstrap.css" rel="stylesheet" />
    <link href="/static/jasny-bootstrap-3.1.3/css/navmenu-reveal.css" rel="stylesheet" />
    <script src="/static/jasny-bootstrap-3.1.3/js/jasny-bootstrap.js" type="text/javascript"></script>

    <script>
        $(function() {

            $('body').on("click mousemove keyup", _.debounce(function() {
                // logout user here
                {% if request.endpoint != 'login' %}
                    window.location = "{{ url_for('authenticate.logout') }}";
                {% endif %}
            }, 3600000)); // 60 minutes inactivity

            var sidebar_selection = read_cookie_value('sidebar_selection');
            if (sidebar_selection != undefined) {
                $('#' + sidebar_selection).addClass("active");
                $('#' + sidebar_selection).siblings().removeClass("active");
            }

            $('.navmenu-nav li').click(function(e) {
                write_cookie_value('sidebar_selection', $(this).attr('id'));
            });
        });
    </script>

    <style>
        a:focus
        {
            outline:none
        }
    </style>

    {% block base_head %}{% endblock %}

    {% block head %}{% endblock %}
</head>

<body>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href="#">Applications</a>
        <ul class="nav navmenu-nav">
            <li id="sidebar-selection-software" class="active"><a href="{{ url_for('home') }}"><i class="glyphicon glyphicon-th-list"></i> Software</a></li>
            <li id="sidebar-selection-inventory"><a href="{{ url_for('inventory.dashboard') }}"><i class="glyphicon glyphicon-tags"></i> Inventory</a></li>
        </ul>
    </nav>

    {% block menu_bar %}{% endblock %}

    <div class="row">
        <div class="col-sm-12">
            {% block title %}{% endblock %}
        </div>
    </div>

    {% block main %}{% endblock %}

    <div class="row">
        <hr>
        <center>
            Copyright &copy; 2000 -
            <script language="JavaScript" type="text/javascript">
                now = new Date
                theYear=now.getYear()
                if (theYear < 1900)
                  theYear=theYear+1900
                document.write(theYear)
            </script>
            Cisco Systems, Inc. All rights reserved.
        </center>
    </div>

</body>
</html>