{% extends 'base.html' %}

{% block menu_bar %}

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="padding:10px" href="#"><img src="{{ url_for('static', filename='logo.png') }}"></a>
            <a class="navbar-brand" href="#">CSM Server</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                <li class="active"><a href="{{ url_for('inventory_home') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Inventory<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add Inventory</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Import Inventory</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Search Inventory</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Search Inventory by Serial Number</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}" ><img title="Logout" src="{{ url_for('static', filename='logout.png') }}"></a></li>
            </ul>

            <form class="navbar-form navbar-left pull-right" role="search">
                <div class="form-group" style="padding:5px">
                    <input type="hidden" class="select2" id="search-host-selector" style="width:200px;margin-left:2em;margin-top:.4em;">
                </div>
            </form>
            {% endif %}
        </div>
        <!--/.nav-collapse -->
    </div>

{% endblock %}
