
{% extends 'base.html' %}
{% from 'host/common.html' import edit_field %}
{% from 'share/cisco_software_dialog.html' import cisco_software_dialog %}
{% from 'share/server_software_dialog.html' import server_software_dialog %}
{% from 'share/host_software_dialog.html' import host_software_dialog %}
{% from 'share/install_history_dialog.html' import install_history_dialog %}

{% macro common_schedule_install_gui() %}

<div class="form-group ">
    <label class="col-sm-4 control-label" id="label_install_action" for="install_action">Install Action</label>
    <div class=col-sm-6>
        <select class="form-control" id="install_action" multiple name="install_action" style="width: 100%">
            <optgroup label="Install">
                <option value="{{ install_action.pre_upgrade }}">{{ install_action.pre_upgrade }}</option>
                <option value="{{ install_action.add }}">{{ install_action.add }}</option>
                <option value="{{ install_action.activate}}">{{ install_action.activate }}</option>
                <option value="{{ install_action.post_upgrade }}">{{ install_action.post_upgrade }}</option>
                <option value="{{ install_action.commit }}">{{ install_action.commit }}</option>
                <option value="{{ install_action.all }}">{{ install_action.all }}</option>
            </optgroup>
            <optgroup label="Clean Up">
                <option value="{{ install_action.remove }}">{{ install_action.remove}}</option>
                <option value="{{ install_action.deactivate }}">{{ install_action.deactivate }}</option>
            </optgroup>
        </select>
    </div>
</div>

<div id="widget-panel" class="form-group ">
    <label class="col-sm-4 control-label">Select From</label>  
    <div class=col-sm-8>    
        <span id="add-widget-panel">
            <a id="browse-server-button" href="javascript://">
                <img src="/static/browse_server.png">&nbsp;Server Repository&nbsp;&nbsp;&nbsp;
            </a>
            <a id="browse-cisco-button" href="javascript://">
                <img src="/static/internet.png">&nbsp;CCO&nbsp;&nbsp;&nbsp;
            </a>  
        </span> 
        <span id="activate-widget-panel">
            <a id="browse-inactive-software-button" href="javascript://">
                <img src="/static/router_software.png">&nbsp;Inactive Pkgs&nbsp;&nbsp;&nbsp;
            </a>  
            <a id="browse-install-history-button" href="javascript://">
                <img src="/static/history.png">&nbsp;Install History
            </a>    
        </span> 
        <span id="remove-widget-panel">
            <a id="browse-remove-software-button" href="javascript://">
                <img src="/static/router_software.png">&nbsp;Inactive Pkgs&nbsp;&nbsp;&nbsp;
            </a>   
        </span> 
        <span id="deactivate-widget-panel">
            <a id="browse-deactivate-software-button" href="javascript://">
                <img src="/static/router_software.png">&nbsp;Active Pkgs&nbsp;&nbsp;&nbsp;
            </a>   
        </span> 
    </div>
</div>

<div id="software-packages-panel">
    {{ edit_field(form.software_packages, class="form-control", spellcheck="false", rows="5") }}
    <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div id="server-repository-panel" class="col-sm-8">                  
        </div>
    </div>
</div>

<div class="form-group ">
    <label class="col-sm-4 control-label" for="{{ form.scheduled_time.name }}">{{ form.scheduled_time.label() }}</label>
    <div class="col-sm-6">
        <div  class="input-group date form_datetime">
            <input id="scheduled-time" name="{{ form.scheduled_time.name }}" class="form-control" size="16" type="text" readonly>
            <input id="scheduled-time-UTC" name="{{ form.scheduled_time_UTC.name }}" value="{{ form.scheduled_time_UTC.data }}" class="form-control" type="hidden">
            <span class="input-group-addon DodgerBlue"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
</div>

<div id="dependency-panel">
    {{ edit_field(form.dependency, field_width="col-sm-6", class="form-control") }}
</div>

<input id="hidden_server" name="{{ form.hidden_server.name }}" value="{{ form.hidden_server.data }}" type="hidden">
<input id="hidden_server_name" name="{{ form.hidden_server_name.name }}" value="{{ form.hidden_server_name.data }}" type="hidden">
<input id="hidden_server_directory" name="{{ form.hidden_server_directory.name }}" value="{{ form.hidden_server_directory.data }}" type="hidden">
<input id="hidden_pending_downloads" name="{{ form.hidden_pending_downloads.name }}" value="{{ form.hidden_pending_downloads.data }}" type="hidden">

{% endmacro %}

{% block extra_head %}

<script src="/static/jquery/js/smu_info_dialog.js"></script>
<script src="/static/jquery/js/auto_select_software.js"></script>
<script src="/static/jquery/js/cisco_software_dialog.js"></script>
<script src="/static/jquery/js/server_software_dialog.js"></script>
<script src="/static/jquery/js/install_history_dialog.js"></script>
<script src="/static/jquery/js/host_software_dialog.js"></script>

<style>
    .modal-dialog {
        width: 850px;
    }
    a:link,
    a:visited {
        text-decoration: none;
    }
    th,
    td {
        white-space: nowrap;
    }
</style>

<script type="text/javascript">

var host_software_platform = null;
var host_software_version = null;

$(function() {

    var PRE_UPGRADE = "{{ install_action.pre_upgrade }}";
    var INSTALL_ADD = "{{ install_action.add }}";
    var INSTALL_ACTIVATE = "{{ install_action.activate }}";
    var POST_UPGRADE = "{{ install_action.post_upgrade }}";
    var INSTALL_COMMIT = "{{ install_action.commit }}";
    var ALL = "{{ install_action.all }}";
    var INSTALL_REMOVE = "{{ install_action.remove }}";
    var INSTALL_DEACTIVATE = "{{ install_action.deactivate }}";

    var region_id = -1;

    var submit_spinner = $('#submit-spinner');
    submit_spinner.hide();

    $("#install_action").select2({
        placeholder: 'Select Desirable Install Actions'
    });
    
    $("#install_action").val("{{ form.install_action.data }}").trigger("change");

    var datetimepicker = $(".form_datetime").datetimepicker({
        format: "mm/dd/yyyy HH:ii P",
        showMeridian: true,
        autoclose: true,
        todayBtn: true,
        pickerPosition: "top-left",
        todayHighlight: true
    });

    toggle_ui();

    $('#install_action').on('change', function(e) {
        var install_actions = $(this).val();
        if (has_one_of_these(install_actions, [ALL])) {
            $("#install_action").val([PRE_UPGRADE, INSTALL_ADD, INSTALL_ACTIVATE, POST_UPGRADE, INSTALL_COMMIT]).trigger('change');
        } else if (has_one_of_these(install_actions, [INSTALL_REMOVE]) && install_actions.length > 1) {
            $("#install_action").val([INSTALL_REMOVE]).trigger('change');
        } else if (has_one_of_these(install_actions, [INSTALL_DEACTIVATE]) && install_actions.length > 1) {
            $("#install_action").val([INSTALL_DEACTIVATE]).trigger('change');
        }
        toggle_ui();
    });

    function toggle_ui() {
        var install_actions = $('#install_action').val();

        should_enable_widget_panel(install_actions);

        $('#add-widget-panel').hide();
        $('#activate-widget-panel').hide();
        $('#remove-widget-panel').hide();
        $('#deactivate-widget-panel').hide();
        $('#software-packages-panel').hide();
        $('#dependency-panel').hide(); 

        if (has_one_of_these_only(install_actions, [INSTALL_REMOVE])) {

            $('#remove-widget-panel').show();

        } else if (has_one_of_these_only(install_actions, [INSTALL_DEACTIVATE])) {

            $('#deactivate-widget-panel').show();

        } else if (has_one_of_these(install_actions, [INSTALL_ADD]) &&
            has_one_of_these(install_actions, [INSTALL_ACTIVATE])) {

            $('#add-widget-panel').show();
            $('#activate-widget-panel').show();

        } else if (has_one_of_these(install_actions, [INSTALL_ADD])) {

            $('#add-widget-panel').show();

        } else if (has_one_of_these(install_actions, [INSTALL_ACTIVATE])) {

            $('#activate-widget-panel').show();
        }

        should_enable_software_packages_panel();

        if (install_actions == null || install_actions.length > 1) {
            $('#dependency').val(-1);
            $('#dependency-panel').hide();
        } else {
            $('#dependency-panel').show();
        }

        display_selected_server_info();
    }

    function should_enable_widget_panel(install_actions) {
        if (has_one_of_these(install_actions, [INSTALL_ADD, INSTALL_ACTIVATE, INSTALL_REMOVE, INSTALL_DEACTIVATE])) {
            $('#widget-panel').show();
        } else {
            $('#widget-panel').hide();
        }
    }

    function should_enable_software_packages_panel() {
        if ($('#add-widget-panel').is(':visible') ||
            $('#activate-widget-panel').is(':visible') ||
            $('#remove-widget-panel').is(':visible') ||
            $('#deactivate-widget-panel').is(':visible')) {

            $('#software-packages-panel').show();
        } else {
            $('#software-packages-panel').hide();
        }
    }

    function get_server_cookie(region_id) {
        if (region_id != -1) {
            var server = $.cookie('region-' + region_id + '-server');
            return (server == null ? -1 : server);
        }
        return -1;
    }

    function get_server_directory_cookie(region_id) {
        if (region_id != -1) {
            var server_directory = $.cookie('region-' + region_id + '-server-directory');
            return (server_directory == null ? '' : server_directory);
        }
        return '';
    }

    function get_target_release_cookie(region_id) {
        if (region_id != -1) {
            var target_release = $.cookie('region-' + region_id + '-target-release');
            return (target_release == null ? '' : target_release);
        }
        return '';
    }

    function write_server_cookie(region_id, server) {
        if (region_id != -1) {
            $.cookie('region-' + region_id + '-server', server, {
                path: '/'
            });
        }
    }

    function write_server_directory_cookie(region_id, server_directory) {
        if (region_id != -1) {
            $.cookie('region-' + region_id + '-server-directory', server_directory, {
                path: '/'
            });
        }
    }

    function write_target_release_cookie(region_id, target_release) {
        if (region_id != -1) {
            $.cookie('region-' + region_id + '-target-release', target_release, {
                path: '/'
            });
        }
    }

    var server_time_as_locale_time = convertToLocaleString("{{ server_time | datetime_string }}");

    // Called when the Schedule (i.e. submit) button is clicked but before the
    // form actually being submitted.  Returning false will stop the submission.
    $('#on-submit').click(function(e) {

        var install_actions = $('#install_action').val();
        if (install_actions == null) {
            bootbox.alert("Install Action has not been specified.");
            return false;
        }

        var server_id = $('#hidden_server').val();
        var software_packages = $('#software_packages').val().trim();

        if (has_one_of_these(install_actions, [INSTALL_ADD]) && server_id == -1) {
            bootbox.alert("Server repository has not been specified.");
            return false;
        }

        if (has_one_of_these(install_actions, [INSTALL_ADD, INSTALL_ACTIVATE, INSTALL_REMOVE, INSTALL_DEACTIVATE]) && software_packages.length == 0) {
            bootbox.alert("Software packages has not been specified.");
            return false;
        }

        // Check Install Manager constraint.
        if (host_software_version != null && host_software_version == '5.3.2') {
            if (trim_lines(software_packages).split('\n').length > 27) {
                bootbox.alert("Due to the limitation of the Install Manager on the device, it can only handle a maximum of 27 software packages at a time.  For Install Add, use a tar archive file instead.");
                return false;
            }
        } else {
            if (trim_lines(software_packages).split('\n').length > 16) {
                bootbox.alert("Due to the limitation of the Install Manager on the device, it can only handle a maximum of 16 software packages at a time.  For Install Add, use a tar archive file instead.");
                return false;
            }
        }

        $('#scheduled-time-UTC').val(convertToUTCString($('#scheduled-time').val()));

        return true;
    });

    // Convert the UTC time to Locale time
    $('#scheduled-time-UTC').val(function(index, value) {
        if (value == 'None' || value.length == 0) {
            $('#scheduled-time').val(server_time_as_locale_time);
        } else {
            $('#scheduled-time').val(convertToLocaleString(value));
        }
    });

    // Called by the $('#form').submit() function.
    function on_final_submit(current_form, hostname) {
        var validate_object = {
            form: current_form,
            hostname: hostname,
            server_id: $('#hidden_server').val(),
            server_directory: $('#hidden_server_directory').val(),
            software_packages: $('#software_packages').val(),
            spinner: submit_spinner,
            install_actions: $('#install_action').val(),
            check_missing_file_on_server: $('#hidden_server').val() > -1,
            callback: on_finish_validate,
            pending_downloads: null,
            cco_lookup_enabled: "{{ system_option.enable_cco_lookup }}" == 'True'
        };

        // If hostname is null, this method is called by Batch Installs
        if (has_one_of_these($('#install_action').val(), [INSTALL_ADD])) {
            on_validate_prerequisites_and_files_on_server(validate_object);
        } else if (has_one_of_these($('#install_action').val(), [INSTALL_ACTIVATE])) {

            // Check for packages that may cause router to reload during Activate.
            // Turn off check_missing_file_on_server as it is only used for
            // Install Add.
            validate_object.check_missing_file_on_server = false;
            check_need_reload(validate_object);

        } else {
            // Turn on the spinner.  This will be useful for batch scheduling.
            if (validate_object.spinner != null ) validate_object.spinner.show();
            current_form.submit();
        }
    }


    function display_selected_server_info() {
        var html_code = '';

        if ($('#hidden_server').val() != -1) {
            html_code = '<table>';
            html_code += '<tr><td><span style="color: Gray;">Server Repository:&nbsp;</span></td><td>' + $('#hidden_server_name').val() + '</td></tr>';

            if ($('#hidden_server_directory').val().length > 0) {
                html_code += '<tr><td><span style="color: Gray;">Server Directory:&nbsp;</span></td><td>' + $('#hidden_server_directory').val() + '</td></tr>';
            }
            html_code += '</table>';
        }
        $('#server-repository-panel').html(html_code);
    }


    function on_finish_validate(validate_object) {
        $('#software_packages').val(validate_object.software_packages);
        $('#hidden_pending_downloads').val(validate_object.pending_downloads);
        validate_object.form.submit();
    }

    //----------------------------------------------------------------------------------------//
 
    function on_display_server_software_dialog(region_id, hostname_list) {
        var server_id = get_server_cookie(region_id);
        var server_directory = get_server_directory_cookie(region_id);
        var target_release = get_target_release_cookie(region_id);
        display_server_software_dialog(hostname_list, server_id, server_directory, target_release);
    }

    $('#on-server-software-dialog-submit').click(function(e) {

        if ($('#server_dialog_server').val() == -1) {
            bootbox.alert("Server Repository has not been specified.");
            return false;
        }

        update_software_packages(server_software_selector.get_selected_items());

        // Record the newly selected server repository
        $('#hidden_server').val($('#server_dialog_server').val());
        $('#hidden_server_name').val($('#server_dialog_server option:selected').text());
        $('#hidden_server_directory').val($('#server_dialog_server_directory').val());

        write_server_cookie(region_id, $('#hidden_server').val());
        write_server_directory_cookie(region_id, $('#hidden_server_directory').val());
        write_target_release_cookie(region_id, $('#server_dialog_target_software').val());

        toggle_ui();
    });

    //----------------------------------------------------------------------------------------//

    function on_display_cisco_software_dialog(region_id, hostname_list) {
        var server_id = get_server_cookie(region_id);
        var server_directory = get_server_directory_cookie(region_id)

        if (host_software_platform != null && host_software_version != null) {
            init_cisco_software_dialog(host_software_platform, host_software_version);
        }

        display_cisco_software_dialog(hostname_list, server_id, server_directory)

    }

    $('#on-cisco-software-dialog-submit').click(function(e) {
        if ($('#cisco_dialog_server').val() == -1) {
            bootbox.alert("Server Repository has not been specified.");
            return false;
        }

        var new_software_packages = [];

        $('.check').each(function(index) {
            if (this.checked) {
                $(this).attr('checked', false);
                new_software_packages.push($(this).val());
            }
        });

        update_software_packages(new_software_packages);

        // Record the newly selected server repository      
        $('#hidden_server').val($('#cisco_dialog_server').val());
        $('#hidden_server_name').val($('#cisco_dialog_server option:selected').text());
        $('#hidden_server_directory').val($('#cisco_dialog_server_directory').val());

        write_server_cookie(region_id, $('#hidden_server').val());
        write_server_directory_cookie(region_id, $('#hidden_server_directory').val());

        toggle_ui();
    });

    //----------------------------------------------------------------------------------------//

    function on_display_install_history_dialog(hostname_list) {
        display_install_history_dialog(hostname_list);
    }

    $('#on-install-history-submit').click(function(e) {
        var new_software_packages = [];
        $('.check').each(function(index) {
            if (this.checked) {
                $(this).attr('checked', false);
                new_software_packages.push($(this).val());
            }
        });

        update_software_packages(new_software_packages);

        toggle_ui();
    });

    //----------------------------------------------------------------------------------------//  

    function on_display_host_software_dialog(region_id, hostname_list, filter) {
        var target_release = get_target_release_cookie(region_id);
        display_host_software_dialog(region_id, hostname_list, filter, target_release);
    }

    $('#on-host-software-submit').click(function(e) {
        update_software_packages(host_software_selector.get_selected_items());
        write_target_release_cookie(region_id, $('#host_software_dialog_target_software').val());
        toggle_ui();
    });

    //----------------------------------------------------------------------------------------//

    function update_software_packages(new_software_packages) {
        if (new_software_packages.length == 0) {
            return;
        }

        var software_packages = convert_lines_to_list($('#software_packages').val());

        if (software_packages.length > 0) {
            bootbox.dialog({
                message: "Overwrite existing selected software packages?  Click 'Yes' to overwrite or 'No' to append.",
                title: "Confirmation",
                buttons: {
                    success: {
                        label: "Yes",
                        className: "btn-primary",
                        callback: function() {
                            $('#software_packages').val(String(new_software_packages).replace(/,/g, '\n'));
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-default",
                        callback: function() {
                            for (i = 0; i < new_software_packages.length; i++) {
                                software_packages.push(new_software_packages[i]);
                            }
                            $('#software_packages').val(String(software_packages).replace(/,/g, '\n'));
                        }
                    },
                }
            });

        } else {
            $('#software_packages').val(String(new_software_packages).replace(/,/g, '\n'));
        }

    }

    {% block head_schedule_install %} {% endblock head_schedule_install %}

});

</script>

{% block extra_child_head %} {% endblock extra_child_head %}

{% endblock extra_head %}

{% block main %}

{{ install_history_dialog(form.install_history_dialog_host) }}
{{ cisco_software_dialog(system_option.enable_cco_lookup, form.cisco_dialog_server, form.cisco_dialog_server_directory) }}
{{ server_software_dialog(form.server_dialog_server, form.server_dialog_server_directory, form.server_dialog_target_software) }}
{{ host_software_dialog(form.host_software_dialog_host, form.host_software_dialog_last_successful_inventory_elapsed_time, form.host_software_dialog_target_software) }}

{% block main_schedule_install %} {% endblock main_schedule_install %}

{% endblock main %}