{% extends 'base_schedule_install.html' %}

{% from 'share/select_region_hosts.html' import select_region_hosts %}

{% block extra_child_head %} 
<script src="/static/jquery/js/select_region_hosts.js"></script>
{% endblock extra_child_head %}

{% block head_schedule_install %}

$('#form').submit(function() {

    if (validate_region()) {       
        if (host_selector.get_selected_items().length == 0) {
            bootbox.alert("Host has not been specified.");
            return false;
        }
        on_final_submit(this, null);
    }

    // prevent the form from closing 
    return false;
});

$('#browse-install-history-button').on('click', function(e) {
    var selected_hosts = host_selector.get_selected_items();
    if (selected_hosts.length == 0) {
        bootbox.alert("Host has not been specified.");
    } else {
        on_display_install_history_dialog(selected_hosts);
    }
});

$('#browse-inactive-software-button').on('click', function(e) {
    invoke_host_software_dialog(FILTER_ACTIVATE);
});

$('#browse-remove-software-button').on('click', function(e) {
    invoke_host_software_dialog(FILTER_REMOVE);
});

$('#browse-deactivate-software-button').on('click', function(e) {
    invoke_host_software_dialog(FILTER_DEACTIVATE);
});

function invoke_host_software_dialog(title) {
    var selected_hosts = host_selector.get_selected_items();
    if (selected_hosts.length == 0) {
        bootbox.alert("Host has not been specified.");
    } else {
        on_display_host_software_dialog($('#region option:selected').val(), selected_hosts, title);
    }
}

$('#browse-server-button').on('click', function(e) {
    if (validate_region()) {       
        var selected_hosts = host_selector.get_selected_items();
        if (selected_hosts.length == 0) {
            bootbox.alert("Host has not been specified.");
        } else {
            on_display_server_software_dialog($('#region option:selected').val(), selected_hosts);
        }
    }
});

$('#browse-cisco-button').on('click', function(e) {
    if (validate_region()) {
        var selected_hosts = host_selector.get_selected_items();
        on_display_cisco_software_dialog($('#region option:selected').val(), selected_hosts);
    }
});

function validate_region() {
    if ($('#region option:selected').val() == -1) {
        bootbox.alert("Region has not been specified.");
        return false;
    }
    return true;
}

// Catch this event so the server repositories can be populated
// to different server repository selectors.
$('#region').on('change', function(e) {
    region_id = $('#region option:selected').val();
    
    if (region_id != -1) {

        // Now, gets the servers for the selected region
        $('#server_dialog_server').empty().append('<option value=-1></option>');
        $('#cisco_dialog_server').empty().append('<option value=-1></option>');

        $.ajax({
            url: "/api/get_servers/region/" + region_id,
            dataType: 'json',
            success: function(data) {
                $.each(data, function(index, element) {
                    for (i = 0; i < element.length; i++) {
                        var server_id = element[i].server_id;
                        var hostname = element[i].hostname;

                        $('#server_dialog_server').append('<option value="' + server_id + '">' + hostname + '</option>');
                        $('#cisco_dialog_server').append('<option value="' + server_id + '">' + hostname + '</option>');
                    }
                });

            },
            error: function(xhr, status, errorThrown) {
                bootbox.alert("Unable to retrieve server list. Error=" + errorThrown);
            }
        });
    }

});

{% endblock head_schedule_install %}

{% block main_schedule_install %}

<div class="row">
    <div class="well col-sm-offset-2 col-sm-8">
        <form id="form" method="post"  class="form-horizontal">
            <legend>
                <h4>Select Hosts</h4>
            </legend>
            {{ select_region_hosts(form.region, form.role, form.software) }}
            <legend>
                <h4>Schedule Batch Installs</h4>
            </legend>
            
            {{ common_schedule_install_gui() }}
            
            <div class="form-actions">
                <div class="btn col-sm-offset-5">
                    <button id="on-submit" type="submit" class="btn btn-primary">          
                    Schedule          
                    </button>
                    <button type="button" onClick="history.back(1);" class="btn btn-default">Cancel</button>
                    <img id="submit-spinner" src="{{ url_for('static', filename='spinner.gif') }}">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock main_schedule_install %}