{% extends 'base.html' %}

{% from 'host/common.html' import edit_field %}
{% from 'host/common.html' import alert_duplicate %}

{% if request.endpoint.endswith('edit') %}
  {% set isEdit = True %}
{% else %}
  {% set isEdit = False %}
{% endif %}

{% block extra_head %}  
  <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
  <script src="/static/showhidepassword-1.0.0/js/password.js"></script>
  <script>
    $(function() {
      var spinner = $('#spinner');    
      spinner.hide();
      
      {% if isEdit %}
        var is_password_panel_visible = false;
        var password_panel = $('#password-panel');
        password_panel.hide();
        
        $('#modify-password').on("click", function() {
          if (is_password_panel_visible) {
            password_panel.hide();
            is_password_panel_visible = false;
          } else {
            password_panel.show();
            is_password_panel_visible = true;
          }
        });   
        
        $('#remove-password').on("click", function() {
          var message = "This operation will remove the jump server password on file.  Proceed?";
          bootbox.confirm(message, function(result) {
            if (result) {
              $.ajax({
                "url": "{{ url_for('api_remove_jump_host_password', hostname=form.hostname.data) }}",
                type: "POST",
                dataType: 'json',
                success: function (response) {              
                  if (response.status == 'OK') {
                    bootbox.alert("Password has been removed.");
                  } else {
                    bootbox.alert("Unable to remove password.");
                  }
                }
              }); 
            } 
          });    
        }); 
         
      {% endif %}
      
      $('#password').password();
      
      $('#verify-reachability').on("click", function() {
        spinner.show();
        
        var formData = { 
          hostname: '{{ form.hostname.data }}', 
          host_or_ip: $('#host_or_ip').val(), 
          username: $('#username').val(), 
          password: $('#password').val(), 
          connection_type: $('#connection_type').val(), 
          port_number: $('#port_number').val()
        };
        
        $.ajax({
          url: "/api/check_jump_host_reachability",
          dataType: 'json',
          data: formData,
          success: function (response) {              
            if (response.status == 'OK') {
              display_success();
            } else {
              display_error();
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) { 
            display_error();
          }  
        });  
      });
      
      function display_success() {
        spinner.hide();
        //bootbox.alert("This function has not been implemented.");
        $('#verify-reachability').removeClass("btn-danger");
        $('#verify-reachability').addClass("btn-primary");
        bootbox.alert("<img src=\"{{ url_for('static', filename='green_check.png') }}\">CSM Server is able to reach the specified host.  However, unlike managed host reachability test, this test did not verify username and password authentication.");
      }
         
      function display_error() {
        spinner.hide();
        $('#verify-reachability').removeClass("btn-primary");
        $('#verify-reachability').addClass("btn-danger");
        bootbox.alert("<img src=\"{{ url_for('static', filename='error.png') }}\">Unable to reach the specified host or you are not an authorized user.");
      }
         
    });
  </script>
{% endblock extra_head %}

{% block main %}
<div class="row">
  <div class="well col-sm-offset-2 col-sm-8">
  <form method="post" class="form-horizontal">

    <legend>{% if isEdit %}Edit Jump Server{% else %}Create Jump Server{% endif %}</legend>

    {{ alert_duplicate(form.hostname.data, duplicate_error) }}
    
    {{ edit_field(form.hostname, maxlength=30, field_width="col-sm-4", class="form-control",
      placeholder="Unique Name on CSM Server") }}

    <legend>Connection Parameters</legend>
      {{ edit_field(form.connection_type, field_width="col-sm-4", class="form-control") }}
        
      {{ edit_field(form.host_or_ip, maxlength=30, field_width="col-sm-4", class="form-control",
        placeholder="Server or IP") }}
        
      {{ edit_field(form.port_number, field_width="col-sm-4", class="form-control",
        placeholder="Leave Blank for Default") }}
      
      {% if isEdit %}
        {% set extra_field ='<a href="javascript://" id="modify-password">
          <img src=\"/static/lock.png\" title="Show/Hide Password Field"></a>' %}      
        {{ edit_field(form.username, autocomplete="off", field_width="col-sm-4", maxlength=100, class="form-control", extra_field=extra_field ) }}
      {% else %}
        {{ edit_field(form.username, autocomplete="off", field_width="col-sm-4", maxlength=100, class="form-control") }}
      {% endif %}

      <div id="password-panel">
        {% if isEdit %}
          {% set extra_field ='<a href="javascript://" id="remove-password">
            <img src=\"/static/remove.png\" title="Click to Remove Password on File"></a>' %}
          {{ edit_field(form.password, autocomplete="off", field_width="col-sm-4", maxlength=100, class="form-control", extra_field=extra_field,
            placeholder="Use Password on File") }}
        {% else %}
          {{ edit_field(form.password, autocomplete="off", field_width="col-sm-4", maxlength=100, class="form-control") }}
        {% endif %}
      </div>
       
    <div class="form-actions">
      <div class="btn col-sm-offset-4">
        <button id="verify-reachability" type="button" class="btn btn-danger">Check Reachability</button>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" onClick="location.href='{{ url_for('home') }}'" class="btn btn-default">Cancel</button>
        <img id="spinner" src="{{ url_for('static', filename='spinner.gif') }}">
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock main %}