{% extends 'base_software.html' %}

{% block title %}<center><h4><b>Users</b></h4></center>{% endblock title %}

{% block head %}
<script>
    $(function() {
        var current_user = "{{ current_user.username }}";

        $(".user-delete-link").on("click", function() {
            var delete_url = $(this).attr('data-delete-url');
            var delete_user = $(this).attr('delete-user');

            if (current_user == delete_user) {
                bootbox.alert("You are allowed to delete your own user record.");
                return
            }

            bootbox.confirm("You are about to delete user \'" + delete_user + "\'.  OK to proceed?", function(result) {
                if (result) {
                    $.ajax({
                        url: delete_url,
                        type: 'DELETE',
                        success: function(result) {
                            if (result.status == 'OK') {
                                window.location = "{{ url_for('user_list') }}";
                            } else {
                                bootbox.alert('Delete failed.');
                            }
                        }
                    });
                }
            });
        });

        $('.UTCDate').val(function(index, currentValue) {
            // Invalid date would be less than 15 characters
            if ($(this).text().length > 15) {
                $(this).html(convertToLocaleString($(this).text()));
            }
        });

        $("#datatable").dataTable();

    });
</script>
{% endblock %}

{% block main %}
<div class="container" style="margin-top: 10px">
    <table cellspacing="0" class="display table" id="datatable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Privilege</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Active</th>
                <th>Created Date</th>
                <th>Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('user_edit', username = user.username) }}">{{ user.username }}</a></td>
                    <td>{{ user.privilege }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.active }}</td>
                    <td class="UTCDate">{{ user.created_time | datetime_string }}</td>
                    <td class="UTCDate">{{ user.modified_time | datetime_string }}</td>
                    <td>
                        <a class="user-delete-link" href="javascript://"
                           delete-user="{{ user.username }}"
                           data-delete-url="{{ url_for('user_delete', username = user.username) }}">Delete</a>
                    </td>
                </tr>
            {% else %}
                <h3>No Host</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}