{% extends 'base_software.html' %}

{% from 'host/common.html' import edit_field %}

{% block head %}
<script>
    $(function() {

        if (typeof(sessionStorage) !== "undefined") {
            // initial home menu page upon login every time
            sessionStorage.setItem('menu_selection', 'menu-option-1');
        }

        // initialize the show/hide password widget
        $('#password').password();

    });
</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="well col-sm-offset-3 col-sm-6">
        {% if error_message %}
        <div class="alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>ERROR: </strong> {{ error_message }}
        </div>
        {% endif %}

        <form id="form" method="post" class="form-horizontal">
            <legend>Login</legend>
            {% if username %}
                {{ edit_field(form.username, autocomplete="off", readonly=true, class="form-control") }}
            {% else %}
                {{ edit_field(form.username, autocomplete="off", class="form-control") }}
            {% endif %}

            {{ edit_field(form.password, autocomplete="off", class="form-control") }}
            <div class="form-actions">
                <div class="btn col-sm-offset-4">
                    <button id="on-submit" type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
