{% extends 'base_software.html' %}
{% from 'host/common.html' import edit_field %}
{% from 'host/common.html' import log_icon %}
{% from 'host/common.html' import trace_icon %}
{% from 'share/select_region_hosts.html' import select_region_hosts %}
{% from 'asr9k_x64_migrate/config_conversion.html' import config_conversion_gui, config_output_modal %}
{% from 'asr9k_x64_migrate/schedule_migration.html' import schedule_migration_gui %}
{% from 'asr9k_x64_migrate/schedule_migration.html' import schedule_migration_wizard %}

{% block head %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Bootstrap Wizard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

    <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
    <script src="/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/static/duallistbox/dist/dual-list-box.js"></script>
    <script src="/static/jquery-cookie-master/jquery.cookie.js"></script>
    <script src="/static/jquery/js/smu_info_dialog.js"></script>
    <script src="/static/jquery-cookie-master/jquery.cookie.js"></script>

    <script src="/static/jquery/js/select_region_hosts.js"></script>
    <script src="/static/jquery/js/auto_select_migration_software.js"></script>
    <script src="/static/jquery/js/server_software_dialog.js"></script>
    <script src="/static/jquery/js/select_file_from_server.js"></script>
    <script src="/static/jquery/js/handle_config_conversion.js"></script>

    <script src="{{ url_for('static', filename='jquery/js/handle_config_conversion.js') }}"></script>

    <style>
        .modal-dialog {
            width: 1000px;
        }

        a:link, a:visited {
            text-decoration: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }
        input[readonly] {
            background-color: white !important;
            cursor: text !important;
        }
    </style>


    <script type="text/javascript">


        $(function () {
            var use_utc_timezone = "{{ system_option.use_utc_timezone }}" == 'True'
            if (use_utc_timezone) {
                $('#label_scheduled_time').text('Scheduled Time (UTC)');
            } else {
                $('#label_scheduled_time').text('Scheduled Time');
            }

            // server_time is always in UTC format.
            var current_time = "{{ server_time | datetime_string }}";
            if (!use_utc_timezone) {
                current_time = convertToLocaleString(current_time);
            }

            $('#scheduled-time-UTC').val(function(index, value) {
                if (value == 'None' || value.length == 0) {
                    $('#scheduled-time').val(current_time);
                } else {
                    if (use_utc_timezone) {
                        $('#scheduled-time').val(value);
                    } else {
                        $('#scheduled-time').val(convertToLocaleString(value));
                    }
                }
            });

            config_handler({{ input_filename | tojson }}, {{ err_msg | tojson }});

            var selected_tab = $.cookie('migration-tab') == null ? '#schedule-migration' : $.cookie('migration-tab');
            $('a[href=' + selected_tab + ']').tab('show');

            $('#migration-tab').on('shown.bs.tab', function (e) {
              $.cookie('migration-tab', $('.nav-tabs .active > a').attr('href'));
            });

            var submit_spinner = $('#submit-spinner');

            submit_spinner.hide();

            var MIGRATION_AUDIT = "{{ install_action.migrationaudit }}";
            var PRE_MIGRATE = "{{ install_action.premigrate }}";
            var MIGRATE_SYSTEM = "{{ install_action.migrate }}";
            var POST_MIGRATE = "{{ install_action.postmigrate }}";
            var ALL_FOR_MIGRATE = "{{ install_action.allformigrate }}";

            $("#install_action").select2({placeholder: 'Select Desirable Action(s)'});
            $("#install_action").val("{{ schedule_form.install_action.data }}").trigger("change");
            $("#custom_command_profile").select2({
                placeholder: 'Optional'
            });

            server_software_selector.add_init_observer(function(all_available_software){
                var config_selector = $('#config_filename');

                if (config_selector != null) {

                    config_selector.html("");
                    config_selector.append("<option value=\"\" disabled selected style=\"display: none;\">Optional</option>");
                    config_selector.append("<option value=\"\"></option>");
                    $(all_available_software).each(function (i) { //populate child options
                        config_selector.append("<option value=\""+all_available_software[i].id +"\">"+all_available_software[i].name + "</option>");
                    });
                }

                    // In edit mode.
                if ($('#hidden_edit').val() == 'True' && $('#hidden_software_packages').val() != null) {
                    var previously_selected_packages = $('#hidden_software_packages').val().split(',');
                    //console.log("previously_selected_packages = " + String(previously_selected_packages));
                    server_software_selector.select_regex_match(previously_selected_packages);
                }

                if ($('#hidden_edit').val() == 'True' && $('#hidden_config_filename').val() != null) {
                    $('#config_filename').val($('#hidden_config_filename').val());
                    //console.log("config_filename = " + $('#config_filename').val());
                }
            });

            var datetimepicker = $(".form_datetime").datetimepicker({
                format: "mm/dd/yyyy HH:ii P",
                //format: "yyyy-mm-dd hh:ii:ss",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                pickerPosition: "top-left",
                todayHighlight: true
            });

            toggle_ui();

            $('#install_action').on('change', function (e) {
                var install_actions = $(this).val();
                if (has_one_of_these(install_actions, [ALL_FOR_MIGRATE])) {
                    $("#install_action").val([PRE_MIGRATE, MIGRATE_SYSTEM, POST_MIGRATE]).trigger('change');
                } else if (has_one_of_these(install_actions, [MIGRATION_AUDIT]) && install_actions.length > 1) {
                    $("#install_action").val([MIGRATION_AUDIT]).trigger('change');
                }
                toggle_ui();
            });

            function toggle_ui() {
                var install_actions = $('#install_action').val();

            }

            $('[data-toggle="popover_override_hw_req_below"]').popover({
                trigger : 'click',
                placement : 'bottom',
                html : true,
                content : function() {
                    return $('#popover_hw_req').html()
                }
            });

            $('[data-toggle="popover_override_hw_req_top"]').popover({
                trigger : 'click',
                placement : 'top',
                html : true,
                content : function() {
                    return $('#popover_hw_req').html()
                }
            });

            $('[data-toggle="popover_server_repo"]').popover({
                trigger : 'click',
                placement : 'right',
                html : true,
                content : function() {
                    return $('#popover_packages').html()
                }
            });

            $('[data-toggle="popover_config_filename"]').popover({
                trigger : 'click',
                placement : 'top',
                html : true,
                content : function() {
                    return $('#popover_config').html()
                }
            });

            $('#trigger-wizard').click(function (e) {

                var install_actions = $('#install_action').val();

                if ($('#hidden_edit').val() == 'True' && has_one_of_these(install_actions, [MIGRATE_SYSTEM, POST_MIGRATE])) {
                    on_submit();

                } else {

                    if (install_actions == null) {
                        bootbox.alert("Install Action has not been specified.");
                        return false;
                    }
                    if (has_one_of_these(install_actions, [PRE_MIGRATE]) && has_one_of_these(install_actions, [POST_MIGRATE]) && has_one_of_these(install_actions, [MIGRATE_SYSTEM]) == false) {
                        bootbox.alert("Migrate must be selected if both Pre-Migrate and Post-Migrate are selected.");
                        return false;
                    }

                    $('#wizard-dialog').modal({show: true, backdrop: 'static'});

                    if ($('#select-host').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#select-host').val(), true);
                    }

                    if ($('#hardware-audit').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#hardware-audit').val(), true);
                    }

                    if ($('#pre-migrate').val() != null) {
                        $('#wizard').bootstrapWizard('remove', $('#pre-migrate').val(), true);
                    }

                    if ($('#hidden_edit').val() != 'True') {
                        add_new_tab('select-host', 'SELECT HOST')
                    }

                    if (has_one_of_these(install_actions, [MIGRATION_AUDIT])) {
                        add_new_tab("hardware-audit", "SELECT SOFTWARE VERSION");
                        document.getElementById("wizard-header").innerHTML = "<h3>Migration Audit<br></h3>";
                    } else {
                        document.getElementById("wizard-header").innerHTML = "<h3>Migrate to ASR9K-X64<br></h3>";
                    }

                    if (has_one_of_these(install_actions, [PRE_MIGRATE])) {
                        add_new_tab("pre-migrate", "PRE-MIGRATE");
                        if ($('#hidden_edit').val() == 'True') {
                          get_server_list();
                          server_software_retrieve_file_list($('#hidden_server').val(),
                                  $('#server_dialog_server_directory'),
                                  $('#hidden_server_directory').val());
                        }
                    }

                    // make the first tab active
                    //$('#tabs a:first').tab('show');

                    $('#wizard').bootstrapWizard('resetWizard')
                }

            });

            function add_new_tab(new_tab_id, new_tab_name) {
                // create the tab
                $('<li><a href="#' + new_tab_id + '" data-toggle="tab" >' + new_tab_name + '</a></li>').appendTo('#tabs');

            }

            $('#on-submit').click(function (e) {

                if ($('#wizard-dialog .nav-tabs .active').text() == "SELECT SOFTWARE VERSION" && validateHardwareAudit() == false) {
                    return false;
                }
                if ($('#wizard-dialog .nav-tabs .active').text() == "SELECT HOST" && validateSelectHost() == false) {
                    return false;
                }
                if ($('#wizard-dialog .nav-tabs .active').text() == "PRE-MIGRATE" && validateSelectPackages() == false) {
                    return false;
                }

                if (use_utc_timezone) {
                    $('#scheduled-time-UTC').val($('#scheduled-time').val());
                } else {
                    $('#scheduled-time-UTC').val(convertToUTCString($('#scheduled-time').val()));
                }

                on_submit();

            });


            function check_version(version) {
                var numbers = version.split(".");
                var min_version_numbers = [6,1,3];
                var valid_version = false;
                for (var i = 0; i < 3; i++) {
                    if (parseInt(numbers[i]) > min_version_numbers[i]) {
                        valid_version = true;
                        break
                    } else if (parseInt(numbers[i]) < min_version_numbers[i]) {
                        break;
                    } else if (i==2 && parseInt(numbers[i]) == min_version_numbers[i]) {
                        valid_version = true;
                    }
                }
                return valid_version
            }

            function on_submit() {

                if (use_utc_timezone) {
                    $('#scheduled-time-UTC').val($('#scheduled-time').val());
                } else {
                    $('#scheduled-time-UTC').val(convertToUTCString($('#scheduled-time').val()));
                }
                var hardware_audit_version = $('#hardware_audit_version').val();
                var install_actions = $('#install_action').val();

                if (has_one_of_these(install_actions, [MIGRATION_AUDIT])) {
                    if (hardware_audit_version == '') {
                        bootbox.alert("Please specify the ASR9K-X64 Software Version.");
                        return false;
                    }
                    if (!/^\d+\.\d+\.\d+$/.test(hardware_audit_version)) {
                        bootbox.alert("The ASR9K-X64 Software Version entered - " + hardware_audit_version + " - is not in X.X.X format.");
                        return false;
                    }
                    if (!check_version(hardware_audit_version)) {
                        bootbox.alert("The ASR9K-X64 Software Version has to be at least 6.1.3.");
                        return false;
                    }
                }

                $('#hidden_hardware_audit_version').val($('#hardware_audit_version').val());

                $('#hidden_region').val($('#region').val());
                $('#hidden_hosts').val(String(host_selector.get_selected_items()));
                $('#hidden_software_packages').val(String(server_software_selector.get_selected_items()));
                // Record the newly selected server repository
                $('#hidden_server').val($('#server_dialog_server').val());
                $('#hidden_server_name').val($('#server_dialog_server option:selected').text());
                $('#hidden_server_directory').val($('#server_dialog_server_directory').val());
                $('#hidden_config_filename').val($('#config_filename').val());

                if ($('[name="override_hw_req"]')[0].checked) {
                    $('#hidden_override_hw_req').val($('[name="override_hw_req"]')[0].value);
                } else {
                    $('#hidden_override_hw_req').val($('[name="override_hw_req"]')[1].value);
                }

                if (has_one_of_these(install_actions, [MIGRATION_AUDIT])) {
                    submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                    return
                }
                if ($('#hidden_edit').val() == 'False') {
                    get_qualified_hosts_and_submit_form(install_actions);
                } else {
                    if (has_one_of_these(install_actions, [PRE_MIGRATE])) {
                        submit_form_on_successfully_downloading_migration_support_files();
                    } else {
                        submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                    }
                }



            }

            $('#form').submit(function () {

                //$('#schedule_form').submit();
                this.submit();
                //on_final_submit(this, null);

                // prevent the form from closing
                return false;
            });

            function submit_form_after_downloading_asr9k_x64_supported_hardware_list() {

                submit_spinner.show();

                $.ajax({
                    url: "/asr9k_x64_migrate/api/download_asr9k_x64_supported_hardware_list/",
                    dataType: 'json',
                    success: function (response) {
                        submit_spinner.hide();
                        $('#form').submit();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert("Unable to download the latest ASR9K-X64 supported hardware list from CCO to CSM. Error=" + errorThrown);
                        submit_spinner.hide();
                    }
                });
            }

            function submit_form_on_successfully_downloading_migration_support_files() {

                submit_spinner.show();

                $.ajax({
                    url: "/asr9k_x64_migrate/api/download_migration_support_files/",
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 'Failed') {
                            bootbox.alert("Failed to download the latest configuration migration tool from CCO to CSM. Migration actions cannot be scheduled.");
                        } else {
                            $.each(response, function (index, element) {
                                if (element[0].error == 'None') {
                                    $('#form').submit();
                                } else {
                                    bootbox.alert("Error occurred when downloading the latest configuration migration tool. Error: " + element[0].error);
                                }
                            });


                        }
                        submit_spinner.hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert("Unable to download the latest configuration migration tool from CCO to CSM. Error=" + errorThrown);
                        submit_spinner.hide();
                    }
                });
            }

            function get_qualified_hosts_and_submit_form(install_actions) {

                submit_spinner.show();

                var need_to_download_config_conversion_tool = false;

                if (has_one_of_these(install_actions, [PRE_MIGRATE])) {
                    need_to_download_config_conversion_tool = true;
                }

                var dependency = '';
                if (has_one_of_these(install_actions, [PRE_MIGRATE])) {
                    dependency = '';
                } else {
                    if (has_one_of_these(install_actions, [MIGRATE_SYSTEM])) {
                        dependency = PRE_MIGRATE;

                    } else {
                        dependency = MIGRATE_SYSTEM;
                    }
                }

                $.ajax({
                    url: "/asr9k_x64_migrate/api/get_dependencies/",
                    dataType: 'json',
                    data: {hosts : $('#hidden_hosts').val(), dependency : dependency},
                    success: function (response) {
                        var dependency_list = response.data[0].dependency_list;
                        var disqualified_count = response.data[0].disqualified_count;
                        var non_console_host_list = response.data[0].non_console_host_list;

                        var hostnames = host_selector.get_selected_items();

                        var html = '';

                        var non_console_warning_html = '';

                        if (non_console_host_list.length > 0) {
                            non_console_warning_html += '<p>Warning: The recommended way for migration is through console connection. ' +
                                    'For the selected host(s) with management interface connection, ' +
                                    'there will be no session log available after they reload and before ASR9K-X64 completes booting. ' +
                                    'In case of failure during the reload process, console connection will be necessary for troubleshooting.</p>' +
                                     String(non_console_host_list.length) + ' selected host(s) have management interface connection:' +
                                    '<div style="overflow: auto;max-height: 200px;width: 100%;">' +
                                    '<table class="table table-striped"><tbody>';
                            $.map(non_console_host_list, function (hostname) {
                                non_console_warning_html += '<tr><td>' + hostname + '</td></tr>';
                            });

                            non_console_warning_html += '</tbody></table></div>';
                        }

                        if (disqualified_count > 0) {

                            var qualified_hosts = '';

                            if (dependency == MIGRATE_SYSTEM) {
                                html += 'Warning: Post-Migrate should be scheduled after the device migrates to ASR9K-X64. ' +
                                        'The host(s) below do not have a scheduled or completed Migrate action.' +
                                        '</p>';

                                html +='<div style="overflow: auto;max-height: 200px;width: 100%;">' +
                                       '<table class="table table-striped"><tbody>';

                                for (var i = 0, len = hostnames.length; i < len; ++i) {
                                    if (dependency_list[i] == '-2') {
                                        html += '<tr><td>' + hostnames[i] + '</td></tr>';
                                    } else {
                                        qualified_hosts += hostnames[i] + ',';
                                    }

                                }
                                html += '</tbody></table></div>';

                                qualified_hosts = qualified_hosts.slice(0, -1);

                                html += '<br><p>If these hosts have been migrated to ASR9K-X64, you can continue to schedule Post-Migrate for all selected hosts, or click cancel.</p><br>';

                                html += non_console_warning_html;

                                bootbox.dialog({
                                    message: html,
                                    title: "Warning: " + String(disqualified_count) + " out of " + String(hostnames.length) + " selected hosts do not have a scheduled or completed Migrate action",
                                    onEscape: false,
                                    show: true,
                                    backdrop: true,
                                    closeButton: true,
                                    animate: true,
                                    className: "check-dependency-post-migrate-modal",
                                    callback: function(){ /* your callback code */ },
                                    buttons: {
                                        success: {
                                          label: "Continue to schedule for all",
                                          className: "btn-primary",
                                          callback: function() {
                                              $('#hidden_dependency').val(dependency_list.join(','));
                                              if (need_to_download_config_conversion_tool) {
                                                  submit_form_on_successfully_downloading_migration_support_files();
                                              } else {
                                                  submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                                              }
                                          }

                                        },
                                        "Cancel": {
                                          className: "btn-default",
                                          callback: function() {
                                              submit_spinner.hide();
                                          }

                                        }
                                    }
                                });

                            } else {
                                // dependency is Pre-Migrate
                                var new_dependency_list = "";

                                html += '<p>';

                                html += 'To schedule Migrate for a host, Pre-Migrate must either be scheduled' +
                                        ' or has been completed successfully.</p>' +
                                        'The host(s) below failed to meet this requirement.' +
                                        '</p>' +
                                        '<h4>Dis-qualified Hosts</h4>' +
                                        '<div style="overflow: auto;max-height: 200px;width: 100%;">' +
                                        '<table class="table table-striped"><tbody>';

                                for (var i = 0, len = hostnames.length; i < len; ++i) {
                                    if (dependency_list[i] == '-2') {
                                        html += '<tr><td>' + hostnames[i] + '</td></tr>';
                                    } else {
                                        qualified_hosts += hostnames[i] + ',';
                                        new_dependency_list += dependency_list[i] + ',';
                                    }
                                }
                                html += '</tbody></table></div>';

                                if (disqualified_count == hostnames.length) {

                                    html += '<br><p>Please make sure to schedule ' + dependency + ' for all selected hosts.</p>';
                                    bootbox.alert({
                                        message: html,
                                        title: "No selected hosts qualify for scheduling"
                                    });
                                } else {
                                    // remove comma in the end
                                    qualified_hosts = qualified_hosts.slice(0, -1);
                                    new_dependency_list = new_dependency_list.slice(0, -1);

                                    html += '<br><p>You can choose to schedule for the qualified hosts only, or click cancel.</p>';

                                    html += non_console_warning_html;

                                    bootbox.dialog({
                                        message: html,
                                        title: String(disqualified_count) + " out of " + String(hostnames.length) + " selected hosts disqualified for scheduling",
                                        onEscape: false,
                                        show: true,
                                        backdrop: true,
                                        closeButton: true,
                                        animate: true,
                                        className: "check-dependency-modal",
                                        callback: function(){ /* your callback code */ },
                                        buttons: {
                                            success: {
                                              label: "Only schedule for qualified hosts",
                                              className: "btn-primary",
                                              callback: function() {
                                                  $('#hidden_hosts').val(qualified_hosts);
                                                  $('#hidden_dependency').val(new_dependency_list);
                                                  if (need_to_download_config_conversion_tool) {
                                                      submit_form_on_successfully_downloading_migration_support_files();
                                                  } else {
                                                      submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                                                  }
                                              }

                                            },
                                            "Cancel": {
                                              className: "btn-default",
                                              callback: function() {
                                                  submit_spinner.hide();
                                              }

                                            }
                                        }
                                    });
                                }

                            }





                        } else if (non_console_host_list.length > 0) {

                            bootbox.dialog({
                                message: non_console_warning_html,
                                title: "Warning: " + String(non_console_host_list.length) + " out of " + String(hostnames.length) + " selected host(s) have no console port specified",
                                onEscape: false,
                                show: true,
                                backdrop: true,
                                closeButton: true,
                                animate: true,
                                className: "no-console-warning-modal",
                                callback: function(){ /* your callback code */ },
                                buttons: {
                                    success: {
                                      label: "Continue to schedule",
                                      className: "btn-primary",
                                      callback: function() {
                                          $('#hidden_dependency').val(dependency_list.join());
                                          if (need_to_download_config_conversion_tool) {
                                              submit_form_on_successfully_downloading_migration_support_files();
                                          } else {
                                              submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                                          }
                                      }

                                    },
                                    "Cancel": {
                                      className: "btn-default",
                                      callback: function() {
                                          submit_spinner.hide();
                                      }

                                    }
                                }
                                });

                        } else {
                            if (need_to_download_config_conversion_tool) {
                                submit_form_on_successfully_downloading_migration_support_files();
                            } else {
                                submit_form_after_downloading_asr9k_x64_supported_hardware_list();
                            }
                        }
                        submit_spinner.hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        bootbox.alert("Unable to download the latest configuration migration tool from CCO to CSM. Error=" + errorThrown);
                        submit_spinner.hide();
                    }
                });

            }


            // In edit mode.
            if ($('#hidden_edit').val() == 'True') {
                $("#install_action").prop("disabled", true);

                $('#region').val($('#hidden_region').val());
                $('#hardware_audit_version').val($('#hidden_hardware_audit_version').val());

                if ($('#hidden_override_hw_req').val() == '1') {
                    $('[name="override_hw_req"]')[0].checked = true;
                } else if ($('#hidden_override_hw_req').val() == '0') {
                    $('[name="override_hw_req"]')[1].checked = true;
                }

            } else {
                $("#install_action").prop("disabled", false);
            }
        })

    </script>

  <!--   plugins 	 -->

    <script src="/static/x-wizard-1.1/assets/js/wizard.js" type="text/javascript"></script>

{% endblock %}


{% block main %}
    <div>
        <form id="form" method="post" class="form-horizontal" enctype=multipart/form-data>
            <div class="row">

              {% if host == null %}
                <div class="well col-sm-offset-2 col-sm-8">
                    <legend>
                        <ul class="nav nav-tabs" id="migration-tab">
                          <li><a style="font-size:19px;font-family:Helvetica Neue" data-toggle="tab" href="#schedule-migration">Schedule Migration</a></li>
                          <li><a style="font-size:19px;font-family:Helvetica Neue" data-toggle="tab" href="#configuration-conversion">Configuration Conversion</a></li>
                        </ul>
                    </legend>
                    <div class="tab-content">
                      <div id="schedule-migration" class="tab-pane fade in active">
                        {{ schedule_migration_gui(schedule_form, install_action, install_job, edit_field) }}
                      </div>
                      <div id="configuration-conversion" class="tab-pane fade">
                        {{ config_conversion_gui(config_form) }}
                      </div>
                    </div>
                </div>

              {% else %}
                <div class="well col-sm-offset-2 col-sm-8">
                    <legend>
                          <h4>Schedule Migration > Region: <span style="color: Gray;">{{ host.region.name }}</span> >
                              Host: <span
                                      style="color: Gray;">{{ host.hostname }} ({{ host.software_platform | beautify_platform }}-{{ host.software_version }})</span>
                          </h4>
                    </legend>


                  {% if install_job != null and install_job.status == 'failed' %}
                      <div class="alert alert-danger">
                          <strong>NOTE:&nbsp;</strong>
                          This scheduled install failed on <span
                              class="UTCDate">{{ install_job.status_time | datetime_string }}</span>

                        {% if install_job.session_log %}
                            <a href="{{ url_for('log.host_session_log', hostname=host.hostname, table='install_job', id=install_job.id) }}?file_path={{ install_job.session_log }}">{{ log_icon('Session Log') }}</a>
                        {% endif %}
                        {% if install_job.trace %}
                            <a href="{{ url_for('log.host_trace', hostname=host.hostname, table='install_job', id=install_job.id) }}">{{ trace_icon() }}</a>
                        {% endif %}
                      </div>
                  {% endif %}
                  {{ schedule_migration_gui(schedule_form, install_action, install_job, edit_field) }}
                </div>
              {% endif %}

            </div>

          {{ schedule_migration_wizard(schedule_form, select_region_hosts, install_job, edit_field) }}
          {% if config_form != null %}}
            {{ config_output_modal(config_form, edit_field) }}
          {% endif %}

        </form>
    </div>
{% endblock %}
