<div id="override" class="row">
    <div class="pull-left">
        <h4 class="info-text-left" style="margin-left: 20px;">Skip the hardware audit for fans and power modules?
        <a href="javascript://"><span class="glyphicon glyphicon-info-sign" style="color:dodgerblue" aria-hidden="true" data-toggle="popover_override_hw_req_top"></span></a>
        </h4>
    </div>
    <div class="pull-right" style="height: 20px;">
        <h4 class="info-text-left" style="margin-right: 20px;">

        <input type="radio" id="override_hw_req" name="override_hw_req"
               class="toggle" value="1"
               style="margin-right: 10px"><label for="override_hw_req" class="info-text-left">Yes</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="override_hw_req" name="override_hw_req"
               class="toggle" value="0" checked
               style="margin-right: 10px"><label for="override_hw_req" class="info-text-left">No</label>

        </h4>
    </div>

    <div id="popover_hw_req" style="display: none">
        <pre>Minimal hardware requirements for migration:
   1. All RSP's and RP's are supported in ASR9K-X64 and are in IOS XR RUN state
   2. All FC's are supported in ASR9K-X64 and are in OK state.
   3. All MPA's are supported in ASR9K-X64 and are in OK state.
   4. All supported LC's are in IOS XR RUN state.
By default, on top of the minimal hardware requirements, the hardware audit checks that all FAN's and
PEM's are supported in ASR9K-X64 and are in READY state.

Operational state for RSP, RP and LC: IOS XR RUN
Operational state for FC: OK
Operational state for FAN and PEM: READY
Operational state for MPA: OK

The list of the hardware supported in ASR9K-X64 is available in Help > ASR9K to ASR9K-X64 Migration.</pre>
    </div>

</div>
