{% from 'host/common.html' import edit_field %}

<h4 class="info-text-left">Select Software Packages: <span id="server-dialog-title"></span>

&nbsp;&nbsp;<a href="javascript://"><span class="glyphicon glyphicon-info-sign" style="color:dodgerblue" aria-hidden="true" data-toggle="popover_server_repo"></span></a>
</h4>
<div id="popover_packages" style="display: none">
  <pre>Note:
1. Only FTP, SFTP and TFTP server repositories are supported for migration.
2. Only two packages can be selected:
   a. You must select a tar file containing ASR9K-X64 image and boot files with filename
      matching wildcard expression 'asr9k*.tar*'. The filename must also contain the software
      version of ASR9K-X64, i.e., "6.1.3". The software version cannot be lower than 6.1.3 as
      that is the minimal baseline ASR9K-X64 you can migrate to.
   b. You can optionally select a crypto key generation text file if the selected hosts are
      using crypto key settings (for ssh) and you wish to have them configured right after
      migration. This text file should enlist commands that generate crypto keys. The commands
      enlisted in the file will be automatically run in ASR9K-X64 as k9sec package loads.
      For more information on what is expected in this file, please check the user manual
      under Help > ASR9K to ASR9K-X64 Migration.
      If the file is named "crypto_auto_key_gen.txt", you can use auto select for it.
   </pre>
</div>

{{ edit_field(schedule_form.server_dialog_server, field_width="col-sm-7", class="form-control") }}
          
{% set extra_field =
'<a href="javascript://">
<img id="server-dialog-move-up" src="/static/up_arrow.png" title="Go to Parent Folder">
<img id="server-dialog-reset-server-directory" src="/static/remove.png" title="Reset Server Directory">
</a>'
%}

{{ edit_field(schedule_form.server_dialog_server_directory, field_width="col-sm-7", class="form-control", extra_field=extra_field) }}
<legend></legend>


<div id="server-dialog-auto-select-software-panel">
  <button id="server-dialog-auto-select-software" class="btn btn-primary center-block">Auto Select</button>
</div>


<div class="form-group">
<select id="server-software-selector" name="server-software-selector" multiple="multiple" data-title="Packages" data-json=false></select>
</div>


<span class="browse-spinner">
  <center><img id="server-software-dialog-browse-spinner" src="{{ url_for('static', filename='spinner.gif') }}"></center>
</span>
<legend></legend>

<div class="row">
    <div class="pull-left">
        <h4 class="info-text-left" style="margin-left: 20px;">Select a custom ASR9K-X64 config file to be loaded after migration:
  &nbsp;&nbsp;      <a href="javascript://"><span class="glyphicon glyphicon-info-sign" style="color:dodgerblue" aria-hidden="true" data-toggle="popover_config_filename"></span></a>
        </h4>
    </div>
    <div class="pull-right" style="height: 20px;">
       <select class="form-control" id="config_filename" style="width: 300px;margin-top: 5px;margin-right: 20px" placeholder="Optional">
        <option value="" disabled selected style="display: none;">Optional</option>
        <option value=""></option>
      </select>
    </div>
</div>

<div id="popover_config" style="display: none">
  <pre>Note:
If no file is provided here, CSM Server will migrate the existing admin and IOS-XR config
files on device using the NoX tool. Then, during Migrate, when ASR9K-X64 boots, the device
will load the converted IOS-XR config file automatically. During Post-Migrate, CSM Server
will attempt to load the migrated admin config file.

Alternatively, you can supply an IOS-XR config for the ASR9K-X64 image. Once the new 64 bit
image boots, during Migrate, the device will load this customized IOS-XR config file. Then,
during Post-Migrate, CSM Server will attempt to load the migrated admin config.</pre>
</div>
<legend></legend>
