{% extends 'base.html' %}

{% from 'host/common.html' import edit_field %}

{% block extra_head %}
  <script src="/static/bootbox-4.2.0/js/bootbox.js"></script>
  <script src="/static/jquery/js/common-utils.js"></script>

  <script>
    $(function() {
       $('#form').submit(function() {
         var current_form = this;
         
         if ($('#region option:selected').val() == -1) {
           bootbox.alert("Region has not been specified.");
           return false;
         }  
         
         $.ajax({
           url: "/api/import_hosts",
           type: "POST",
           dataType: 'json',
           data: { platform: $('#platform').val(), region: $('#region').val(), data_list: trim_lines($('#import-data').val()) },
           success: function (data) { 
             if (data.status == 'OK') { 
               bootbox.alert("Import has been successful!", function() {
                 current_form.submit();
               }); 
             } else {
               bootbox.alert('Error: ' + data.status);  
             }
           },
           error: function(XMLHttpRequest, textStatus, errorThrown) { 
             alert(errorThrown);
           }
         });   
         
         return false;
       });
       
    });
  </script>

{% endblock extra_head %}

{% block main %}
<div class="row">
  <div class="well col-sm-offset-2 col-sm-8">
  <form id="form" method="post" class="form-horizontal">

    <legend>Import Hosts</legend>
    
    {{ edit_field(form.platform, field_width="col-sm-4", class="form-control") }}
    {{ edit_field(form.region, field_width="col-sm-4", class="form-control") }}

    <fieldset>
      <legend>Comma Delimited Data</legend>
        <div class="form-group ">
          <div class="col-sm-offset-1 col-sm-10">
            To import Hosts, enter or paste the information in the text window below.  Data fields must be comma delimited.  If a data field contains commas, the data field must be double-quoted (e.g. ip and port may contain multiple values separated by a comma).
            If no username and password is specified, the default host username and password defined on CSM Server will be used.  The first data line must be a header as shown below.<br><br>
          
            <div style="font-family: monospace;font-size:medium">
              hostname,ip,username,password,connection,port&nbsp;<- header line<br>
              myhost1,172.27.22.34,johnsmith,password,telnet,<br>
              myhost2,172.27.22.35,davidsmith,password,ssh,"2033,2034"
            </div>
           
          </div>
        </div>
        <div class="form-group ">
          <div class="col-sm-offset-1 col-sm-10">
            <textarea class="form-control" id="import-data" spellcheck=false name="data_list" rows="10"></textarea>
          </div>
        </div>
    </fieldset>

    <div class="form-actions">
      <div class="btn col-sm-offset-5">
        <button type="submit" class="btn btn-primary">Import</button>
        <button type="button" onClick="location.href='{{ url_for('home') }}'" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock main %}