{% extends 'base_software.html' %}

{% block title %}<center><h4><b>Managed Hosts</b></h4></center>{% endblock %}

{% block head %}

<script>
    $(function() {

        var selected_region_id = read_cookie_value('list-host-selected-region', 0);
        var list_host_datatable_page_length = read_cookie_value('list_host_datatable_page_length', 10);

        $('#host-datatable').on( 'length.dt', function ( e, settings, len ) {
            write_cookie_value('list_host_datatable_page_length', len);
        });

        $('#search-region-selector').select2({
            placeholder: "Filter Hosts by Region",
            allowClear: true,
            ajax: {
                url: "/api/get_regions/",
                dataType: 'json',
                processResults: function(data, page) {
                    return {
                        results: data.data
                    };
                },
                data: function(params) {
                    return {
                        q: params.term, // search term
                        show_all: true,
                        page: params.page
                    };
                },
            },
        });

        // Use delegate pattern for event
        $("#host-datatable").on("click", ".host-delete-link", function() {
            var delete_url = $(this).attr('data-delete-url');
            var delete_host = $(this).attr('delete-host');

            bootbox.confirm("You are about to delete host \'" + delete_host + "\'.  OK to proceed?", function(result) {
                if (result) {
                    $.ajax({
                        url: delete_url,
                        type: 'DELETE',
                        success: function(result) {
                            if (result.status == 'OK') {
                                refresh_host_table(read_cookie_value('list-host-selected-region', 0));
                            } else {
                                bootbox.alert('Delete failed.');
                            }
                        }
                    });
                }
            });
        });

        var host_table = $("#host-datatable").dataTable({
            "serverSide": true,
            "ajax": {
                "url": "/datatable/api/get_managed_host_details/region/" + selected_region_id,
            },
            "columns": [
                { "data": "hostname" },
                { "data": "chassis" },
                { "data": "platform" },
                { "data": "software" },
                { "data": "connection" },
                { "data": "host_or_ip" },
                { "data": "port_number" },
                { "data": "username" },
                { "data": "jump_host" }
            ],
            "pageLength": parseInt(list_host_datatable_page_length),
            "columnDefs": [{
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/hosts/' + data + '/host_dashboard/">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'chassis'
            },{
                "targets": 2,
                "data": 'platform'
            }, {
                "targets": 3,
                "data": 'software'
            }, {
                "targets": 4,
                "data": 'connection'
            }, {
                "targets": 5,
                "data": 'host_or_ip',
                "render": function(data, type, row) {
                    return '<a href="/hosts/' + row['hostname'] + '/edit/">' + comma2br(data) + '</a>';
                }
            }, {
                "targets": 6,
                "data": 'port_number',
                "render": function(data, type, row) {
                    return comma2br(data);
                }
            }, {
                "targets": 7,
                "data": 'username',
            }, {
                "targets": 8,
                "data": 'jump_host'
            }, {
                "targets": 9,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a class="host-delete-link" href="javascript://"  \
                delete-host="' + data + '" \
                data-delete-url="/hosts/' + data + '/delete/">Delete</a>';
                }
            }, ],
        });

        refresh_host_table(selected_region_id);

        $('#search-region-selector').on('change', function(e) {
            refresh_host_table($(this).val());
        });

        function refresh_host_table(region_id) {
            write_cookie_value('list-host-selected-region', region_id);
            host_table.api().ajax.url("/datatable/api/get_managed_host_details/region/" + region_id).load();

            $.ajax({
                url: "/api/get_region_name/region/" + region_id,
                dataType: 'json',
                success: function(data) {
                    $.each(data, function(index, element) {
                        $('#selected-region').html(element[0].region_name)
                    });
                }
            });
        }

    });
</script>

{% endblock %}

{% block main %}
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-sm-3">
            <span><strong>Region:&nbsp;</strong></span><span id='selected-region'></span>
        </div>
        <div class="col-sm-9">
            <div class="input-group">
                <span title="Filter Hosts" class="input-group-addon glyphicon glyphicon-filter"></span>
                <input type="hidden" class="select2" id="search-region-selector">
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <table cellspacing="0" class="display table" id="host-datatable">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Chassis</th>
                    <th>Platform</th>
                    <th>Software</th>
                    <th>Connection</th>
                    <th>TS or IP</th>
                    <th>Port</th>
                    <th>Username</th>
                    <th>Jump Server</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}