{% extends 'base_software.html' %}

{% from 'host/common.html' import log_icon %}

{% block head %}
<script>
    $(function() {
        var slider_open_id = '';
        var use_utc_timezone = "{{ system_option.use_utc_timezone }}" == 'True';

        get_install_dashboard_cookie();

        function insert_slider(packages, id) {
            if (packages != null && packages.length > 0) {
                var slider_state = (slider_open_id == id ? 'in' : '');
                var html = '<a href="javascript://" data-toggle="collapse" data-target="#' + id + '">' +
                           '<center><img src=\"{{ url_for('static', filename='file_open.png') }}\"></center>' +
                           '</a>' +
                           '<!-- Collapsible Element HTML -->' +
                           '<div id="' + id + '" class="collapse ' + slider_state + '">' +
                           display_packages(packages) +
                           '</div>';
                return html;
            } else {
                return '&nbsp;';
            }
        }

        $("#install-completed-datatable").on("show.bs.collapse", ".collapse", function(e) {
            $("#" + slider_open_id).removeClass("in");
            slider_open_id = e.currentTarget.id;
        });

        $("#install-completed-datatable").on("hide.bs.collapse", ".collapse", function(e) {
            slider_open_id = '';
        });

        function display_packages(packages) {
            if (packages) {
                data = "<div class='package-slider'>";
                data += packages.replace(/,/g, "<br/>");
                data += "</div>";
                return data;
            } else {
                return '&nbsp;';
            }
        }

        $(".install-delete-all").on("click", function() {
            var delete_url = $(this).attr('install-delete-url');
            var status = $(this).attr('status');

            var message = "";
            if (status == 'failed') {
                message = "Delete All Failed Installations?<br>(Notice: Any scheduled installations dependent on the failed installations will also be deleted.)"
            } else {
                message = "Delete All Scheduled Installations?";
            }

            bootbox.confirm(message, function(result) {
                if (result) {
                    $.ajax({
                        url: delete_url,
                        type: 'DELETE',
                        success: function(response) {
                            if (response.status == 'OK') {
                                if (status == 'failed') {
                                    // failed install table
                                    refresh_failed_install_table();
                                } else {
                                    // scheduled install table
                                    refresh_scheduled_install_table();
                                }
                            } else {
                                bootbox.alert('Unable to delete.');
                            }
                        }
                    });
                }
            });
        });

        // Use delegate pattern for event
        $("#install-failed-datatable").on("click", ".install-scheduled-delete-link", function() {
            delete_record($(this));
        });

        $("#install-scheduled-datatable").on("click", ".install-scheduled-delete-link", function() {
            delete_record($(this));
        });

        function delete_record(this_record) {
            var delete_url = this_record.attr('data-delete-url');
            var delete_host = this_record.attr('delete-host');
            var install_action = this_record.attr('install-action');
            var status = this_record.attr('status');

            var message = status == 'failed' ? "Delete this failed installation" : "Delete this scheduled installation";
            bootbox.confirm(message + ", '<b>" + install_action + "</b>' for host '<b>" + delete_host + "</b>'?<br>" +
                "(Notice: Any scheduled installations dependent on this item will also be deleted.)",
                function(result) {
                    if (result) {
                        $.ajax({
                            url: delete_url,
                            type: 'DELETE',
                            success: function(result) {
                                if (result.status == 'OK') {
                                    if (status == 'failed') {
                                        // failed install table
                                        refresh_failed_install_table();
                                    } else {
                                        // scheduled install table
                                        refresh_scheduled_install_table();
                                    }
                                } else {
                                    bootbox.alert('Unable to delete.');
                                }
                            }
                        });
                    }
                });
        }

        $("#install-scheduled-datatable").on("click", ".resubmit-download-link", function() {
            resubmit_download($(this));
        });

        function resubmit_download(this_record) {
            var hostname = this_record.attr('data-hostname');
            var install_action = this_record.attr('data-install-action');
            var resubmit_url = this_record.attr('data-resubmit-url');
            var user_id = this_record.attr('data-user-id');
            var server_id = this_record.attr('data-server-id');
            var server_directory = this_record.attr('data-server-directory');

            var message = "Re-submit the failed downloads for <b>" + install_action + "</b>' for host '<b>" + hostname + "</b>'?<br>" +
                "(Notice: Until all downloads are successful, the scheduled installation will not proceed.)"
            bootbox.confirm(message, function(result) {
                if (result) {
                    $.ajax({
                        url: resubmit_url,
                        data: {
                            user_id: user_id,
                            server_id: server_id,
                            server_directory: server_directory
                        },
                        success: function(result) {
                            if (result.status == 'OK') {
                                refresh_scheduled_install_table();
                            } else {
                                bootbox.alert('Failed to submit download(s).  Check system logs for details.');
                            }
                        }
                    });
                }
            });
        }

        var selected_tab = $.cookie('install-dashboard-tab') == null ? '#install-scheduled' : $.cookie('install-dashboard-tab');
        $('a[href=' + selected_tab + ']').tab('show');

        $('#install-dashboard-tab').on('shown.bs.tab', function() {
            $.cookie('install-dashboard-tab', $('.nav-tabs .active > a').attr('href'));
        });

        var install_scheduled_table = $("#install-scheduled-datatable").dataTable({
            "serverSide": true,
            "order": [
                [3, "asc"]
            ],
            "columns": [
                { "data": "hostname" },
                { "data": "install_action" },
                { "data": "dependency", "orderable": false },
                { "data": "scheduled_time" },
                { "data": "packages" },
                { "data": "created_by" },
                { "data": "install_job_id", "orderable": false }
            ],
            "columnDefs": [{
                    "targets": 0,
                    "data": 'hostname',
                    "render": function(data, type, row) {
                        return '<a href="/host_dashboard/hosts/' + data + '/">' + data + '</a>';
                    }
                }, {
                    "targets": 1,
                    "data": 'install_action',
                    "render": function ( data, type, row ) {
                      if (data == 'Migration-Audit' || data == 'Pre-Migrate' || data == 'Migrate' || data == 'Post-Migrate') {
                        return '<a href="/asr9k_x64_migrate/hosts/' + row['hostname'] + '/schedule_install/' + row['install_job_id'] + '/edit?return_url=install_dashboard.home">' + data + '</a>'
                      } else {
                        return '<a href="/install/hosts/' + row['hostname'] + '/schedule_install/' + row['install_job_id'] + '/edit?return_url=install_dashboard.home">' + data + '</a>'
                      }
                    }
                }, {
                    "targets": 2,
                    "data": 'dependency',
                    "render": function(data, type, row) {
                        if (data.indexOf('failed') > 0) {
                            return data + '&nbsp;<a class="resubmit-download-link" href="javascript://"  \
                                data-hostname="' + row['hostname'] + '" \
                                data-install-action="' + row['install_action'] + '" \
                                data-server-id="' + row['server_id'] + '" \
                                data-server-directory="' + row['server_directory'] + '" \
                                data-user-id="' + row['user_id'] + '" \
                                data-resubmit-url="/install_dashboard/api/resubmit_download_jobs/"><img src="/static/resubmit.png" title="Click to re-submit failed download(s)"></a>';
                        }
                        return data;

                    }
                }, {
                    "targets": 3,
                    "data": 'scheduled_time',
                    "render": function(data, type, row) {
                        return getDateStringfromUTCString(data, use_utc_timezone);
                    }
                }, {
                    "targets": 4,
                    "data": 'packages',
                    "render": function(data, type, row) {
                        return display_packages(data);
                    }
                }, {
                    "targets": 5,
                    "data": 'created_by'
                }, {
                    "targets": 6,
                    "data": 'install_job_id',
                    "render": function(data, type, row) {
                        return '<a class="install-scheduled-delete-link" href="javascript://"  \
                            delete-host="' + row['hostname'] + '" \
                            install-action="' + row['install_action'] + '" \
                            status="scheduled" + \
                            data-delete-url="/install_dashboard/api/hosts/install/delete/' + data + '">Delete</a>';
                    }
                },

            ],
            "ajax": {
                "url": "{{ url_for('datatable.api_get_scheduled_install_jobs', exclude_monitor_jobs=1) }}"
            }
        }).on('draw.dt', function(e, settings, json) {
            $('#badge-scheduled').html(install_scheduled_table.api().page.info().recordsTotal);
        });

        var install_in_progress_table = $("#install-in-progress-datatable").dataTable({
            "serverSide": true,
            "order": [
                [3, "asc"]
            ],
            "columns": [
                { "data": "hostname" },
                { "data": "install_action" },
                { "data": "scheduled_time" },
                { "data": "start_time" },
                { "data": "packages" },
                { "data": "status" },
                { "data": "session_log", "orderable": false },
                { "data": "created_by" }
            ],
            "columnDefs": [{
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/host_dashboard/hosts/' + data + '/">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'install_action',
            }, {
                "targets": 2,
                "data": 'scheduled_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 3,
                "data": 'start_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 4,
                "data": 'packages',
                "render": function(data, type, row) {
                    return display_packages(data);
                }
            }, {
                "targets": 5,
                "data": 'status'
            }, {
                "targets": 6,
                "data": 'session_log',
                "render": function(data, type, row) {
                    return get_log_icon(row['hostname'], 'install_job', row['install_job_id'], row['session_log'], row['trace']);
                }
            }, {
                "targets": 7,
                "data": 'created_by'
            }, ],
            "ajax": {
                "url": "{{ url_for('datatable.api_get_in_progress_install_jobs', exclude_monitor_jobs=1) }}",
            }
        }).on('draw.dt', function(e, settings, json) {
            $('#badge-in-progress').html(install_in_progress_table.api().page.info().recordsTotal);
        });

        var install_waiting_table = $("#install-waiting-datatable").dataTable({
            "serverSide": true,
            "order": [
                [3, "asc"]
            ],
            "columns": [
                { "data": "hostname" },
                { "data": "install_action" },
                { "data": "scheduled_time" },
                { "data": "start_time" },
                { "data": "packages" },
                { "data": "status" },
                { "data": "session_log", "orderable": false },
                { "data": "created_by" }
            ],
            "columnDefs": [{
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/host_dashboard/hosts/' + data + '/">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'install_action',
            }, {
                "targets": 2,
                "data": 'scheduled_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 3,
                "data": 'start_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 4,
                "data": 'packages',
                "render": function(data, type, row) {
                    return display_packages(data);
                }
            }, {
                "targets": 5,
                "data": 'status'
            }, {
                "targets": 6,
                "data": 'session_log',
                "render": function(data, type, row) {
                    return get_log_icon(row['hostname'], 'install_job', row['install_job_id'], row['session_log'], row['trace'], row['job_info']);
                }
            }, {
                "targets": 7,
                "data": 'created_by'
            } ],
            "ajax": {
                "url": "{{ url_for('datatable.api_get_waiting_install_jobs') }}"
            }
        }).on('draw.dt', function(e, settings, json) {
            $('#badge-waiting').html(install_waiting_table.api().page.info().recordsTotal);
        });

        $("#install-failed-datatable").on("click", ".show-job-info", function() {
            display_job_info_dialog($('#job-info-contents'), $(this).attr('table'), $(this).attr('job-info-id'), $(this).attr('session-log-url'));
        });

        $("#install-completed-datatable").on("click", ".show-job-info", function() {
            display_job_info_dialog($('#job-info-contents'), $(this).attr('table'), $(this).attr('job-info-id'), $(this).attr('session-log-url'));
        });

        var install_failed_table = $("#install-failed-datatable").dataTable({
            "serverSide": true,
            "order": [
                [5, "desc"]
            ],
            "columns": [
                { "data": "hostname" },
                { "data": "install_action" },
                { "data": "scheduled_time" },
                { "data": "start_time" },
                { "data": "packages" },
                { "data": "status_time" },
                { "data": "session_log", "orderable": false },
                { "data": "created_by" },
                { "data": "install_job_id", "orderable": false }
            ],
            "columnDefs": [{
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/host_dashboard/hosts/' + data + '/">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'install_action',
                "render": function ( data, type, row ) {
                  if (data == 'Migration-Audit' || data == 'Pre-Migrate' || data == 'Migrate' || data == 'Post-Migrate') {
                    return '<a href="/asr9k_x64_migrate/hosts/' + row['hostname'] + '/schedule_install/' + row['install_job_id'] + '/edit?return_url=install_dashboard.home">' + data + '</a>'
                  } else {
                    return '<a href="/install/hosts/' + row['hostname'] + '/schedule_install/' + row['install_job_id'] + '/edit?return_url=install_dashboard.home">' + data + '</a>'

                  }
                }
            }, {
                "targets": 2,
                "data": 'scheduled_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 3,
                "data": 'start_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 4,
                "data": 'packages',
                "render": function(data, type, row) {
                    return display_packages(data);
                }
            }, {
                "targets": 5,
                "data": 'status_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 6,
                "data": 'session_log',
                "render": function(data, type, row) {
                    return get_log_icon(row['hostname'], 'install_job', row['install_job_id'], row['session_log'], row['trace']);
                }
            }, {
                "targets": 7,
                "data": 'created_by'
            }, {
                "targets": 8,
                "data": 'install_job_id',
                "render": function(data, type, row) {
                    return '<a class="install-scheduled-delete-link" href="javascript://"  \
                        delete-host="' + row['hostname'] + '" \
                        install-action="' + row['install_action'] + '" \
                        status="failed" + \
                        data-delete-url="/install_dashboard/api/hosts/install/delete/' + data + '">Delete</a>';
                }
            }],
            "ajax": {
                "url": "{{ url_for('datatable.api_get_failed_install_jobs', exclude_monitor_jobs=1) }}"
            }
        }).on('draw.dt', function(e, settings, json) {
            $('#badge-failed').html(install_failed_table.api().page.info().recordsTotal);
        });

        function get_log_icon(hostname, table, id, session_log, trace) {
            if (trace || session_log) {
                data = "<center>";

                var session_log_url = "/log/hosts/" + hostname + "/" + table + "/session_log/" + id + "?file_path=" + session_log;

                if (session_log) {
                    data += "<a href='" + session_log_url + "' target='_session_log'>";
                    data += "<img src='/static/file.png' title='Session Log'></a>";
                }

                if (trace) {
                    data += "<a href='/log/hosts/" + hostname + "/" + table + "/trace/" + trace + "/' target='_trace'>";
                    data += "<img src='/static/error.png' title='debug trace'></a>";
                }

                data += "</center>";
                return "<span style='white-space:nowrap;'>" + data + "</span>";

            } else {
                return '&nbsp;';
            }
        }

        var install_completed_table = $("#install-completed-datatable").dataTable({
            "serverSide": true,
            "order": [
                [5, "desc"]
            ],
            "columns": [
                { "data": "hostname" },
                { "data": "install_action" },
                { "data": "scheduled_time" },
                { "data": "start_time" },
                { "data": "packages" },
                { "data": "status_time" },
                { "data": "session_log", "orderable": false },
                { "data": "created_by" }
            ],
            "columnDefs": [{
                "targets": 0,
                "data": 'hostname',
                "render": function(data, type, row) {
                    return '<a href="/host_dashboard/hosts/' + data + '/">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": 'install_action'
            }, {
                "targets": 2,
                "data": 'scheduled_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 3,
                "data": 'start_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 4,
                "data": 'packages',
                "render": function(data, type, row) {
                    return insert_slider(data, row['install_job_id']);
                }
            }, {
                "targets": 5,
                "data": 'status_time',
                "render": function(data, type, row) {
                    return getDateStringfromUTCString(data, use_utc_timezone);
                }
            }, {
                "targets": 6,
                "data": 'session_log',
                "render": function(data, type, row) {
                    return get_log_icon(row['hostname'], 'install_job_history', row['install_job_id'], row['session_log'], row['trace']);
                }
            }, {
                "targets": 7,
                "data": 'created_by'
            }, ],
            "ajax": {
                "url": "{{ url_for('datatable.api_get_completed_install_jobs') }}"
            }
        }).on('draw.dt', function(e, settings, json) {
            $('#badge-completed-total').html(install_completed_table.api().page.info().recordsTotal);
        });

        function get_install_dashboard_cookie() {
            $.ajax({
                url: "{{ url_for('install_dashboard.api_get_install_dashboard_cookie') }}",
                dataType: 'json',
                success: function(data) {
                    $.each(data, function(index, element) {
                        display_alert(element[0].can_schedule, element[0].can_install);
                    });
                }
            });
        }

        function refresh_scheduled_install_table() {
            install_scheduled_table.api().ajax.reload(null, false);
        }

        function refresh_in_progress_install_table() {
            install_in_progress_table.api().ajax.reload(null, false);
        }

        function refresh_waiting_install_table() {
            install_waiting_table.api().ajax.reload(null, false);
        }

        function refresh_failed_install_table() {
            install_failed_table.api().ajax.reload(null, false);
        }

        function refresh_completed_install_table() {
            install_completed_table.api().ajax.reload(null, false);
        }

        setInterval(function() {
            get_install_dashboard_cookie();
            refresh_scheduled_install_table();
            refresh_in_progress_install_table();
            refresh_waiting_install_table();
            refresh_failed_install_table();
            refresh_completed_install_table();
        }, 10000);

        function display_alert(can_schedule, can_install) {
            if (can_schedule) {
                $("#schedule-install-menu-item").removeClass("disabled");
            } else {
                $("#schedule-install-menu-item").addClass("disabled");
            }

            if (can_schedule && can_install) {
                $('#alerts').html('');
            } else {
                var cannot_html = ' the scheduling of any jobs';
                if (!can_install) {
                    if (!can_schedule) {
                        cannot_html = ' the scheduling of any new jobs and executing of any pending jobs';
                    } else {
                        cannot_html = ' the executing of any pending jobs';
                    }
                }

                $('#alerts').html(
                    '<div class="alert alert-danger"> ' +
                    '<strong>NOTICE:&nbsp;</strong>  ' +
                    'The system administrator has disabled ' + cannot_html + '.' +
                    '</div>');
            }
        }

    });
</script>

<style>
    .modal-dialog {
        width: 900px;
    }
    .customized-badge-height {
       display:inline;
       padding: 1.5px 7px;
    }
    .package-slider {
        white-space: nowrap;
    }
    .dropdown-menu > .disabled {
        cursor: not-allowed;
    }
    /* The real magic ;) */

    .dropdown-menu > .disabled > a {
        pointer-events: none;
    }
</style>
{% endblock %}

{% block main %}

<!-- Main -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="alerts"></div>
            <span class="DodgerBlue"><strong><i class="glyphicon glyphicon-cog"></i> Install Dashboard </strong></span>
            <div class="btn-group pull-right">
                <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Action
                <span class="glyphicon glyphicon-link"></span>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="schedule-install-menu-item"><a href="{{ url_for('install.batch_schedule_install') }}?return_url=install_dashboard.home">Schedule Batch Installations</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript://" class="install-delete-all" status="scheduled" install-delete-url="{{ url_for('install_dashboard.api_delete_all_scheduled_installations') }}">Delete All Scheduled Installations</a></li>
                    <li><a href="javascript://" class="install-delete-all" status="failed" install-delete-url="{{ url_for('install_dashboard.api_delete_all_failed_installations') }}">Delete All Failed Installations</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- upper section -->
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <ul class="nav nav-tabs" id="install-dashboard-tab">
                <li><a data-toggle="tab" href="#install-scheduled">Scheduled &nbsp;<span id="badge-scheduled" class="customized-badge-height badge alert-default">0</span></a></li>
                <li><a data-toggle="tab" href="#install-in-progress">In Progress &nbsp;<span id="badge-in-progress" class="customized-badge-height badge alert-info">0</span></a></li>
                <li><a data-toggle="tab" href="#install-waiting">Waiting &nbsp;<span id="badge-waiting" class="customized-badge-height badge alert-info">0</span></a></li>
                <li><a data-toggle="tab" href="#install-failed">Failed &nbsp;<span id="badge-failed" class="customized-badge-height badge alert-danger">0</span></a></li>
                <li><a data-toggle="tab" href="#install-completed">Completed &nbsp;<span id="badge-completed-total" class="customized-badge-height badge alert-success">0</span></a></li>
            </ul>
            <div class="tab-content" style="margin-top:20px;">
                <div id="install-scheduled" class="tab-pane fade in active">
                    <table cellspacing="0" class="display table" id="install-scheduled-datatable">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Install Action</th>
                                <th>Dependency</th>
                                <th>Scheduled Time</th>
                                <th>Packages</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="install-in-progress" class="tab-pane fade">
                    <table cellspacing="0" class="display table" id="install-in-progress-datatable">
                        <thead>
                            <tr>
                                <th style="width:50px">Hostname</th>
                                <th style="width:50px">Install Action</th>
                                <th style="width:50px">Scheduled Time</th>
                                <th style="width:50px">Start Time</th>
                                <th style="width:150px">Packages</th>
                                <th style="width:300px">Status</th>
                                <th style="width:50px">Log</th>
                                <th style="width:50px">Created By</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="install-waiting" class="tab-pane fade">
                    <table cellspacing="0" class="display table" id="install-waiting-datatable">
                        <thead>
                            <tr>
                                <th style="width:50px">Hostname</th>
                                <th style="width:50px">Install Action</th>
                                <th style="width:50px">Scheduled Time</th>
                                <th style="width:50px">Start Time</th>
                                <th style="width:150px">Packages</th>
                                <th style="width:300px">Status</th>
                                <th style="width:50px">Log</th>
                                <th style="width:50px">Created By</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="install-failed" class="tab-pane fade">
                    <table cellspacing="0" class="display table" id="install-failed-datatable">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Install Action</th>
                                <th>Scheduled Time</th>
                                <th>Start Time</th>
                                <th>Packages</th>
                                <th>Failed Time</th>
                                <th>Log</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="install-completed" class="tab-pane fade">
                    <table cellspacing="0" class="display table" id="install-completed-datatable">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Install Action</th>
                                <th>Scheduled Time</th>
                                <th>Start Time</th>
                                <th>Packages</th>
                                <th>Completed Time</th>
                                <th>Log</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /upper section -->
</div>
<!-- Main -->
{% endblock %}
